Repository cowprotocol/cowswap, pull requests merged in 2022-12, with the labels that each got.

#1552 Update price buy native based price when there is no execution price
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/containers/RateInput/index.tsx
  src/cow-react/modules/limitOrders/hooks/useGetInitialPrice.ts
  src/cow-react/modules/limitOrders/state/limitRateAtom.ts
  src/cow-react/modules/limitOrders/updaters/MarketPriceUpdater/index.tsx
Labels: limit-order

#1569 Make tap area of CurrencyArrowSeparator smaller
  src/cow-react/common/pure/CurrencyArrowSeparator/index.tsx
  src/cow-react/common/pure/CurrencyArrowSeparator/styled.tsx
Labels: limit-order

#1571 Limit orders texts improvements
  src/cow-react/modules/limitOrders/containers/RateInput/index.tsx
  src/cow-react/modules/limitOrders/pure/InfoPopup/index.tsx
  src/cow-react/modules/limitOrders/pure/InfoPopup/styled.ts
  src/cow-react/modules/limitOrders/pure/LimitOrdersDetails/index.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrderRow.tsx
  src/cow-react/modules/limitOrders/pure/Orders/index.tsx
  src/cow-react/modules/limitOrders/pure/RateImpactIndicator/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/RateImpactIndicator/index.tsx
  src/cow-react/modules/limitOrders/pure/RateImpactWarning/index.tsx
  src/cow-react/modules/limitOrders/pure/RateInput/HeadingText.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/FieldLabel.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/index.tsx
  src/cow-react/modules/limitOrders/pure/UnlockLimitOrders/index.tsx
Labels: limit-order

#1575 Enable limit orders for Barn
  src/cow-react/modules/application/containers/TradeWidgetLinks/index.tsx
  src/cow-react/modules/mainMenu/constants/mainMenu.ts
Labels: limit-order

#1572 Fix limit orders performance issues
  src/custom/state/orders/consts.ts
  src/custom/state/orders/updaters/CancelledOrdersUpdater.ts
  src/custom/state/orders/updaters/PendingOrdersUpdater.ts
  src/custom/state/orders/updaters/UnfillableOrdersUpdater.ts
Labels: limit-order

#1574 Display limit order placement errors
  src/cow-react/api/gnosisProtocol/api.ts
  src/cow-react/api/gnosisProtocol/errors/OperatorError.ts
  src/cow-react/modules/limitOrders/containers/LimitOrdersConfirmModal/index.tsx
  src/cow-react/modules/limitOrders/containers/OrdersWidget/hooks/useLimitOrdersList.ts
  src/cow-react/modules/limitOrders/containers/OrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/containers/TradeButtons/index.tsx
  src/cow-react/modules/limitOrders/pure/DeadlineSelector/index.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrderRow.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrdersTable.tsx
  src/cow-react/modules/limitOrders/pure/Orders/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/Orders/index.tsx
  src/cow-react/modules/limitOrders/services/tradeFlow/index.ts
  src/cow-react/modules/limitOrders/utils/ordersSorter.ts
Labels: limit-order

#1593 Add blank line in the order type tooltip
  src/cow-react/modules/limitOrders/pure/ReceiptModal/FieldLabel.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/index.tsx
Labels: limit-order

#1596 Set the deadline to 7 days by default
  src/cow-react/modules/limitOrders/pure/DeadlineSelector/deadlines.ts
Labels: limit-order

#1591 [analytics] Differentiate between Post Orders for Swaps and Limit Orders
  src/cow-react/modules/swap/services/common/steps/analytics.ts
  src/custom/components/analytics/events/transactionEvents.ts
  src/custom/state/orders/middleware.ts
Labels: Auto-merge, limit-order

#1603 Add quoteId to POST quote request
  src/cow-react/modules/limitOrders/hooks/useTradeFlowContext.ts
Labels: limit-order

#1620 Fix for receipt status
  src/cow-react/modules/limitOrders/containers/OrdersReceiptModal/hooks.ts
  src/cow-react/modules/limitOrders/containers/OrdersReceiptModal/index.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrdersTable.tsx
  src/cow-react/modules/limitOrders/state/limitOrdersReceiptAtom.ts
Labels: limit-order

#1618 Fix for recent activity modal to show liquidity orders
  src/cow-react/common/hooks/useCategorizeRecentActivity.ts
Labels: limit-order

#1610 Add classOrder parameter to the app data
  package.json
  src/cow-react/api/gnosisProtocol/api.ts
  src/cow-react/api/gnosisProtocol/legacy/types.ts
  src/cow-react/api/gnosisSafe/index.ts
  src/cow-react/common/services/getQuoteCurrency/index.ts
  src/cow-react/modules/limitOrders/hooks/useTradeFlowContext.ts
  src/cow-react/modules/limitOrders/pure/LimitOrdersConfirm/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/LimitOrdersDetails/index.cosmos.tsx
  src/cow-react/modules/limitOrders/services/tradeFlow/index.ts
  src/cow-react/modules/swap/hooks/useFlowContext.ts
  src/cow-react/pages/Account/LockedGnoVesting/claimData/index.ts
  src/cow-react/pages/Account/ens/index.ts
  src/custom/components/AMMsLogo/index.tsx
  src/custom/components/Header/index.tsx
  src/custom/components/OrderProgressBar/utils.ts
  src/custom/constants/chainInfo/chainInfoMod.ts
  src/custom/constants/chains/chainsMod.ts
  src/custom/constants/index.ts
  src/custom/constants/lists.ts
  src/custom/constants/networks.ts
  src/custom/constants/routing/routingMod.ts
  src/custom/constants/tokens/index.ts
  src/custom/hooks/useAppData.ts
  src/custom/hooks/useContract/index.ts
  src/custom/hooks/useContract/useContractMod.ts
  src/custom/hooks/useStablecoinPrice/index.ts
  src/custom/state/claim/hooks/index.ts
  src/custom/state/claim/hooks/utils.ts
  src/custom/state/claim/reducer.ts
  src/custom/state/lists/hooks/hooksMod.ts
  src/custom/state/lists/reducer/reducerMod.test.ts
  src/custom/state/orders/consts.ts
  src/custom/utils/appData.ts
  src/custom/utils/explorer.ts
  src/custom/utils/index.ts
  src/custom/utils/rinkeby/constants.ts
  src/custom/utils/switchChain.ts
  yarn.lock
Labels: limit-order

#1632 Display up to 100 limit-orders in the table
  src/cow-react/modules/limitOrders/containers/OrdersWidget/hooks/useLimitOrdersList.ts
Labels: limit-order

#1634 Show Appzi nps for limit orders only when an order was filled before 5 min since creating
  src/custom/state/orders/middleware.ts
  src/custom/state/orders/updaters/PendingOrdersUpdater.ts
  src/custom/utils/appzi.ts
Labels: limit-order

#1625 Reduce deadline options
  src/cow-react/modules/limitOrders/pure/DeadlineSelector/deadlines.ts
  src/cow-react/modules/limitOrders/pure/DeadlineSelector/index.tsx
Labels: limit-order

#1636 Show price impact warning when there is no rate impact warning
  src/cow-react/common/pure/RateInfo/index.tsx
  src/cow-react/modules/limitOrders/hooks/useTradeFlowContext.ts
  src/cow-react/modules/limitOrders/pure/LimitOrdersConfirm/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/LimitOrdersDetails/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrdersTable.tsx
  src/cow-react/modules/limitOrders/services/tradeFlow/index.ts
Labels: limit-order

#1646 Store quotient value for limit-orders amount to keep precise values
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/hooks/useApplyLimitRate.ts
  src/cow-react/modules/limitOrders/hooks/useLimitOrdersTradeState.ts
  src/cow-react/modules/limitOrders/hooks/useUpdateCurrencyAmount.ts
  src/cow-react/modules/limitOrders/state/limitOrdersAtom.ts
  src/cow-react/modules/limitOrders/updaters/ActiveRateUpdater/index.ts
Labels: limit-order

#1640 Adjust market/execution rate for -0.1%
  src/cow-react/modules/limitOrders/updaters/QuoteUpdater/hooks/useFetchMarketPrice/useHandleResponse.ts
Labels: limit-order

#1659 Release 1.25.0-RC.1
  src/custom/theme/baseTheme.tsx
Labels: RELEASE

#1652 Fix WETH/ETH swap input being cleared
  src/custom/state/swap/reducer.ts
Labels: eth-flow

#1663 Bumping version to 1.25.0
  package.json
Labels: RELEASE

#1660 Address comments from 1640 pr
  src/constants/misc.ts
  src/cow-react/modules/limitOrders/const/trade.ts
  src/cow-react/modules/limitOrders/updaters/QuoteUpdater/hooks/useFetchMarketPrice/useHandleResponse.ts
  src/custom/state/swap/TradeGp.ts
  src/utils/calculateSlippageAmount.ts
Labels: limit-order

#1613 [EthFlow]#1298 cancellation hooks
  src/cow-react/common/hooks/useCancelOrder/index.ts
  src/cow-react/common/hooks/useCancelOrder/state.ts
  src/cow-react/common/hooks/useCancelOrder/useEthFlowCancelOrder.ts
  src/cow-react/common/hooks/useCancelOrder/useOffChainCancelOrder.ts
  src/cow-react/modules/swap/containers/EthFlowStepper/index.tsx
  src/cow-react/modules/swap/services/ethFlow/const.ts
  src/cow-react/modules/swap/services/ethFlow/steps/signEthFlowOrderStep.ts
  src/custom/hooks/useContract/index.ts
  src/custom/state/orders/actions.ts
  src/custom/state/orders/hooks.ts
  src/custom/state/orders/reducer.ts
  src/custom/utils/misc.ts
  src/state/application/reducer.ts
Labels: eth-flow

#1628 [EthFlow]#1297 more cancellation modal refactoring
  src/cow-react/common/containers/CancelButton/index.tsx
  src/cow-react/common/containers/CancellationModal/index.tsx
  src/cow-react/common/pure/CancelButton/CancellationModal.cosmos.tsx
  src/cow-react/common/pure/CancelButton/CancellationModal.tsx
  src/cow-react/common/pure/CancelButton/RequestCancellationModal.cosmos.tsx
  src/cow-react/common/pure/CancelButton/index.cosmos.tsx
  src/cow-react/common/pure/CancelButton/index.tsx
  src/cow-react/common/pure/CancellationModal/RequestCancellationModal.cosmos.tsx
  src/cow-react/common/pure/CancellationModal/RequestCancellationModal.tsx
  src/cow-react/common/pure/CancellationModal/index.cosmos.tsx
  src/cow-react/common/pure/CancellationModal/index.tsx
  src/custom/components/TopLevelModals/index.tsx
Labels: eth-flow

#1654 Store amounts using precise values in limit-orders
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/containers/RateInput/index.tsx
  src/cow-react/modules/limitOrders/hooks/useApplyLimitRate.ts
  src/cow-react/modules/limitOrders/hooks/useLimitOrdersTradeState.ts
  src/cow-react/modules/limitOrders/hooks/useOnCurrencySelection.ts
  src/cow-react/modules/limitOrders/hooks/useUpdateCurrencyAmount.ts
  src/cow-react/modules/limitOrders/state/limitOrdersAtom.ts
  src/cow-react/modules/limitOrders/updaters/ActiveRateUpdater/index.ts
  src/cow-react/modules/limitOrders/utils/adjustDecimals.ts
Labels: limit-order

#1664 Fixes for some small issues
  src/cow-react/common/pure/RateInfo/index.tsx
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/pure/LimitOrdersDetails/index.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/index.tsx
Labels: limit-order

#1667 Revert deadline reduction
  src/cow-react/modules/limitOrders/pure/DeadlineSelector/deadlines.ts
  src/cow-react/modules/limitOrders/pure/DeadlineSelector/index.tsx
Labels: limit-order

#1671 Enable limit-orders by default everywhere
  src/cow-react/constants/featureFlags.ts
  src/cow-react/modules/application/containers/TradeWidgetLinks/index.tsx
  src/cow-react/modules/mainMenu/constants/mainMenu.ts
Labels: limit-order

#1672 Update message and remove close button
  src/cow-react/modules/limitOrders/pure/InfoPopup/index.tsx
Labels: limit-order

#1670 Limit orders/faq
  src/cow-react/constants/routes.ts
  src/cow-react/modules/application/containers/App/RoutesApp.tsx
  src/cow-react/modules/limitOrders/pure/InfoPopup/index.tsx
  src/cow-react/modules/limitOrders/pure/UnlockLimitOrders/index.tsx
  src/cow-react/modules/mainMenu/constants/mainMenu.ts
  src/cow-react/modules/mainMenu/types.ts
  src/cow-react/pages/Faq/LimitOrdersFaq.tsx
  src/custom/components/AmplitudeAnalytics/constants.ts
  src/custom/constants/index.ts
  src/custom/theme/baseTheme.tsx
Labels: limit-order

#1690 1.26.0-RC.0 version bump
  package.json
Labels: RELEASE

#1546 [EthFlow]#1297 refactor cancellation modal
  src/cow-react/common/containers/CancellationModal/index.tsx
  src/cow-react/common/hooks/useCancelOrder/index.ts
  src/cow-react/common/hooks/useCancelOrder/state.ts
  src/cow-react/common/hooks/useCancelOrder/useEthFlowCancelOrder.ts
  src/cow-react/common/hooks/useCancelOrder/useOffChainCancelOrder.ts
  src/cow-react/common/pure/CancelButton/index.cosmos.tsx
  src/cow-react/common/pure/CancelButton/index.tsx
  src/cow-react/common/pure/CancellationModal/RequestCancellationModal.cosmos.tsx
  src/cow-react/common/pure/CancellationModal/RequestCancellationModal.tsx
  src/cow-react/common/pure/CancellationModal/index.cosmos.tsx
  src/cow-react/common/pure/CancellationModal/index.tsx
  src/cow-react/modules/limitOrders/containers/OrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrderRow.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrdersTable.tsx
  src/cow-react/modules/limitOrders/pure/Orders/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/Orders/index.tsx
  src/cow-react/modules/swap/containers/EthFlowStepper/index.tsx
  src/cow-react/modules/swap/services/ethFlow/const.ts
  src/cow-react/modules/swap/services/ethFlow/steps/signEthFlowOrderStep.ts
  src/custom/components/AccountDetails/Transaction/ActivityDetails.tsx
  src/custom/components/AccountDetails/Transaction/CancelButton.tsx
  src/custom/components/AccountDetails/Transaction/CancelationModal.tsx
  src/custom/components/AccountDetails/Transaction/StatusDetails.tsx
  src/custom/components/AccountDetails/Transaction/index.tsx
  src/custom/components/OrderProgressBar/index.tsx
  src/custom/components/TopLevelModals/index.tsx
  src/custom/components/TransactionConfirmationModal/index.tsx
  src/custom/hooks/useActivityDerivedState.ts
  src/custom/hooks/useContract/index.ts
  src/custom/state/orders/actions.ts
  src/custom/state/orders/hooks.ts
  src/custom/state/orders/reducer.ts
  src/custom/utils/misc.ts
  src/custom/utils/trade.ts
  src/state/application/reducer.ts
Labels: eth-flow

#1699 Eth flow/remove feature flag
  README.md
  src/cow-react/modules/swap/helpers/getEthFlowEnabled.ts
Labels: eth-flow

#1701 [EthFlow] Show `creating/cancelling` EthFlow orders on limit orders history
  src/cow-react/modules/limitOrders/containers/OrdersReceiptModal/hooks.ts
  src/cow-react/modules/limitOrders/containers/OrdersWidget/hooks/useLimitOrdersList.ts
  src/cow-react/modules/limitOrders/pure/ReceiptModal/IdField.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/index.tsx
Labels: eth-flow

#1673 Apply smart quote selection to RateInput
  src/cow-react/common/services/getQuoteCurrency/index.ts
  src/cow-react/modules/limitOrders/containers/RateInput/index.tsx
  src/cow-react/modules/limitOrders/updaters/MarketPriceUpdater/index.tsx
  src/cow-react/modules/limitOrders/updaters/QuoteUpdater/hooks/useFetchMarketPrice/index.ts
Labels: limit-order

#1694 Store limit-orders amounts as fractions in the localStorage
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/hooks/useApplyLimitRate.ts
  src/cow-react/modules/limitOrders/hooks/useLimitOrdersTradeState.ts
  src/cow-react/modules/limitOrders/hooks/useOnCurrencySelection.ts
  src/cow-react/modules/limitOrders/hooks/useUpdateCurrencyAmount.ts
  src/cow-react/modules/limitOrders/state/limitOrdersAtom.ts
  src/cow-react/modules/limitOrders/updaters/ActiveRateUpdater/index.ts
  src/cow-react/types.ts
  src/cow-react/utils/fractionUtils.ts
Labels: limit-order

#1700 Tooltip styles fix
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/styled.tsx
  src/cow-react/modules/limitOrders/pure/Settings/index.tsx
  src/cow-react/modules/limitOrders/pure/Settings/styled.ts
  src/cow-react/modules/limitOrders/pure/UnlockLimitOrders/index.tsx
  src/cow-react/modules/limitOrders/pure/UnlockLimitOrders/styled.ts
  src/cow-react/modules/swap/containers/FeesDiscount/index.tsx
  src/custom/components/Popover/index.tsx
  src/custom/components/Settings/SettingsMod.tsx
  src/custom/components/Settings/index.tsx
  src/custom/components/SwapWarnings/index.tsx
  src/custom/components/Tooltip/TooltipMod.tsx
  src/custom/components/TransactionSettings/TransactionSettingsMod.tsx
  src/custom/components/swap/FeeInformationTooltip.tsx
  src/custom/components/swap/SwapHeader/SwapHeaderMod.tsx
Labels: limit-order

#1688 Fix input in CurrencyInputPanel when value is zero
  src/cow-react/common/pure/CurrencyInputPanel/CurrencyInputPanel.tsx
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/cow-react/modules/swap/containers/NewSwapWidget/index.tsx
  src/cow-react/modules/trade/utils/tokenViewAmount.ts
Labels: limit-order

#1698 [EthFlow] Follow up to PR #1629 - Update cancellation state for EthFlow orders
  src/cow-react/common/hooks/useCancelOrder/index.ts
  src/cow-react/common/hooks/useCancelOrder/useEthFlowCancelOrder.ts
  src/custom/hooks/useRecentActivity.ts
Labels: eth-flow

#1711 Fix tooltip
  src/cow-react/abis/types/index.ts
  src/cow-react/modules/swap/pure/Row/RowDeadline/index.tsx
Labels: RELEASE

#1715 Fix user input handling in limit-orders (amount parsing)
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
Labels: RELEASE, limit-order

#1710 [EthFlow]#1299 Stepper state changes
  src/cow-react/common/hooks/useCancelOrder/index.ts
  src/cow-react/modules/swap/containers/EthFlowStepper/index.tsx
  src/cow-react/modules/swap/pure/EthFlow/EthFlowStepper/index.cosmos.tsx
  src/cow-react/modules/swap/pure/EthFlow/EthFlowStepper/index.tsx
  src/cow-react/modules/swap/pure/EthFlow/EthFlowStepper/steps/Progress2.tsx
  src/cow-react/modules/swap/pure/EthFlow/EthFlowStepper/steps/Step3.tsx
  src/custom/state/orders/utils.ts
Labels: eth-flow

#1705 [EthFlow] Updated ethflowcontract to 1.0.0
  package.json
  src/custom/constants/index.ts
  yarn.lock
Labels: eth-flow

#1713 Add affiliate flow banners to the Limit orders page
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
Labels: limit-order

#1712 Remove hover effect from the Beta label
  src/cow-react/modules/application/containers/TradeWidgetLinks/index.tsx
  src/cow-react/modules/application/containers/TradeWidgetLinks/styled.ts
Labels: limit-order

#1724 [EthFlow]#1299 track tx states
  src/cow-react/common/hooks/useCancelOrder/index.ts
  src/cow-react/common/hooks/useCancelOrder/useEthFlowCancelOrder.ts
  src/cow-react/modules/swap/containers/EthFlowStepper/index.tsx
  src/cow-react/modules/swap/hooks/useEthFlowContext.ts
  src/cow-react/modules/swap/pure/EthFlow/EthFlowStepper/StatusIcon.tsx
  src/cow-react/modules/swap/pure/EthFlow/EthFlowStepper/index.cosmos.tsx
  src/cow-react/modules/swap/pure/EthFlow/EthFlowStepper/index.tsx
  src/cow-react/modules/swap/pure/EthFlow/EthFlowStepper/steps/Step2.tsx
  src/cow-react/modules/swap/pure/EthFlow/EthFlowStepper/steps/Step3.tsx
  src/cow-react/modules/swap/services/common/types.ts
  src/cow-react/modules/swap/services/ethFlow/index.ts
  src/custom/hooks/useRecentActivity.ts
  src/custom/state/enhancedTransactions/actions.ts
  src/custom/state/enhancedTransactions/hooks/index.ts
  src/custom/state/enhancedTransactions/reducer.ts
  src/custom/state/enhancedTransactions/updater/FinalizeTxUpdater.tsx
Labels: eth-flow

#1732 [EthFlow]#1299 fix extra popups
  src/cow-react/modules/application/containers/App/Updaters.tsx
Labels: eth-flow

#1733 [EthFlow]#1300 cancellation toast notifications
  src/custom/components/AccountDetails/Transaction/styled.ts
  src/custom/state/orders/middleware.ts
Labels: eth-flow

#1739 [EthFlow]follow up #1732 double cancellation toasts
  src/custom/state/orders/updaters/CancelledOrdersUpdater.ts
  src/custom/state/orders/updaters/GpOrdersUpdater.ts
Labels: eth-flow

#1738 Update warning messages
  src/cow-react/modules/swap/pure/EthFlow/EthFlowModalContent/configs.ts
Labels: eth-flow

#1736 Eth flow/1647
  src/cow-react/modules/swap/containers/Row/RowFee/index.tsx
  src/cow-react/modules/swap/pure/Row/RowSlippageContent/index.tsx
Labels: eth-flow

#1718 Add more analytics events for limit orders
  src/cow-react/common/hooks/useCancelOrder/index.ts
  src/cow-react/common/hooks/useCancelOrder/useEthFlowCancelOrder.ts
  src/cow-react/modules/limitOrders/services/tradeFlow/index.ts
  src/cow-react/modules/swap/hooks/useEthFlowContext.ts
  src/cow-react/modules/swap/hooks/useFlowContext.ts
  src/cow-react/modules/swap/hooks/useSwapButtonContext.ts
  src/cow-react/modules/swap/hooks/useSwapFlowContext.ts
  src/cow-react/modules/swap/services/common/steps/analytics.ts
  src/cow-react/modules/swap/services/ethFlow/index.ts
  src/cow-react/modules/swap/services/ethFlow/steps/calculateUniqueOrderId.ts
  src/cow-react/modules/swap/services/ethFlow/steps/signEthFlowOrderStep.ts
  src/cow-react/modules/swap/services/swapFlow/index.ts
  src/cow-react/modules/swap/services/swapFlow/steps/presignOrderStep.ts
  src/cow-react/modules/swap/services/types.ts
  src/cow-react/modules/swap/services/utils/logger.ts
  src/cow-react/modules/trade/utils/addPendingOrderStep.ts
  src/cow-react/modules/trade/utils/analytics.ts
  src/cow-react/modules/trade/utils/logger.ts
  src/cow-react/modules/trade/utils/swapErrorHelper.ts
  src/custom/utils/misc.ts
Labels: limit-order

#1752 Added faq page
  src/cow-react/constants/routes.ts
  src/cow-react/modules/application/containers/App/RoutesApp.tsx
  src/cow-react/modules/mainMenu/constants/mainMenu.ts
  src/cow-react/modules/mainMenu/types.ts
  src/cow-react/pages/Faq/EthFlowFaq.tsx
  src/cow-react/pages/Faq/LimitOrdersFaq.tsx
  src/custom/components/AmplitudeAnalytics/constants.ts
  src/custom/constants/index.ts
Labels: RELEASE, eth-flow

#1763 v1.27.0
  package.json
Labels: RELEASE, eth-flow

#1756 [EthFlow]#1294 wire is refunded
  src/cow-react/modules/application/containers/App/Updaters.tsx
  src/cow-react/modules/swap/containers/EthFlowStepper/index.tsx
  src/cow-react/modules/swap/pure/EthFlow/EthFlowStepper/steps/Step3.tsx
  src/custom/constants/index.ts
  src/custom/state/orders/actions.ts
  src/custom/state/orders/consts.ts
  src/custom/state/orders/hooks.ts
  src/custom/state/orders/reducer.ts
  src/custom/state/orders/updaters/ExpiredOrdersUpdater.ts
  src/custom/state/orders/updaters/index.ts
Labels: RELEASE, eth-flow

#1758 Add expert mode for eth flow
  src/cow-react/modules/swap/helpers/getSwapButtonState.ts
  src/cow-react/modules/swap/pure/SwapButtons/index.tsx
Labels: RELEASE, eth-flow

#1767 hotfix/1.27.1
  package.json
  src/cow-react/modules/application/containers/App/Updaters.tsx
  src/cow-react/modules/swap/containers/EthFlowStepper/index.tsx
  src/cow-react/modules/swap/containers/NewSwapModals/index.tsx
  src/cow-react/modules/swap/helpers/getSwapButtonState.ts
  src/cow-react/modules/swap/hooks/useEthFlowContext.ts
  src/cow-react/modules/swap/pure/EthFlow/EthFlowStepper/steps/Step3.tsx
  src/cow-react/modules/swap/pure/SwapButtons/index.tsx
  src/cow-react/modules/swap/services/ethFlow/index.ts
  src/cow-react/modules/swap/services/ethFlow/steps/calculateUniqueOrderId.ts
  src/cow-react/modules/swap/services/ethFlow/steps/signEthFlowOrderStep.ts
  src/cow-react/modules/swap/services/types.ts
  src/cow-react/modules/swap/state/EthFlow/ethFlowInFlightOrderIdsAtom.ts
  src/custom/constants/index.ts
  src/custom/state/enhancedTransactions/updater/FinalizeTxUpdater.tsx
  src/custom/state/orders/actions.ts
  src/custom/state/orders/consts.ts
  src/custom/state/orders/hooks.ts
  src/custom/state/orders/reducer.ts
  src/custom/state/orders/updaters/ExpiredOrdersUpdater.ts
  src/custom/state/orders/updaters/index.ts
Labels: RELEASE

#1772 Fix for zero decimal tokens
  src/cow-react/common/pure/RateInfo/index.tsx
  src/cow-react/modules/limitOrders/containers/RateInput/index.tsx
  src/cow-react/modules/limitOrders/containers/TradeButtons/limitOrdersTradeButtonsMap.tsx
  src/cow-react/modules/limitOrders/hooks/useLimitOrdersFormState.ts
  src/cow-react/modules/limitOrders/hooks/useRateImpact.ts
  src/cow-react/modules/limitOrders/utils/getDecimals.ts
Labels: RELEASE

#1777 Hotfix/1.27.1
  package.json
  src/cow-react/common/pure/RateInfo/index.tsx
  src/cow-react/modules/limitOrders/containers/RateInput/index.tsx
  src/cow-react/modules/limitOrders/containers/TradeButtons/limitOrdersTradeButtonsMap.tsx
  src/cow-react/modules/limitOrders/hooks/useLimitOrdersFormState.ts
  src/cow-react/modules/limitOrders/hooks/useRateImpact.ts
  src/cow-react/modules/limitOrders/utils/getDecimals.ts
  src/custom/state/enhancedTransactions/updater/FinalizeTxUpdater.tsx
Labels: RELEASE

#1769 🎨 Fix scroll styles
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/styled.tsx
  src/cow-react/modules/limitOrders/containers/SettingsWidget/styled.tsx
  src/cow-react/modules/swap/containers/NewSwapWidget/styled.tsx
  src/custom/components/TransactionConfirmationModal/TransactionConfirmationModalMod.tsx
  src/custom/components/TransactionConfirmationModal/index.tsx
  src/custom/components/swap/SwapModalHeader/index.tsx
Labels: RELEASE

#1742 Conditional display of the rate warning banner
  src/cow-react/modules/limitOrders/containers/LimitOrdersWarnings/index.tsx
Labels: RELEASE

#1768 Release/1.28 🎄🎅🦌
  package.json
  public/audio/error.mp3
  public/audio/halloween.mp3
  public/audio/send-winterTheme.mp3
  public/audio/send.mp3
  public/audio/success-claim.mp3
  public/audio/success.mp3
  src/cow-react/modules/application/containers/App/index.tsx
  src/cow-react/modules/application/containers/App/styled.ts
  src/cow-react/modules/application/containers/TradeWidgetLinks/index.tsx
  src/cow-react/modules/application/containers/TradeWidgetLinks/styled.ts
  src/cow-react/modules/limitOrders/containers/LimitOrdersWarnings/index.tsx
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/styled.tsx
  src/cow-react/modules/limitOrders/containers/SettingsWidget/styled.tsx
  src/cow-react/modules/swap/containers/NewSwapWidget/styled.tsx
  src/cow-react/modules/winterEdition/index.tsx
  src/custom/components/Footer/index.tsx
  src/custom/components/Header/index.tsx
  src/custom/components/Header/styled.ts
  src/custom/components/SideMenu/index.tsx
  src/custom/components/TransactionConfirmationModal/TransactionConfirmationModalMod.tsx
  src/custom/components/TransactionConfirmationModal/index.tsx
  src/custom/components/Version/index.tsx
  src/custom/components/swap/SwapModalHeader/index.tsx
  src/custom/theme/cowSwapAssets.ts
  src/custom/utils/sound.ts
  yarn.lock
Labels: RELEASE

#1774 [EthFlow]#1294 handle failed txs
  src/cow-react/api/gnosisProtocol/api.ts
  src/cow-react/common/hooks/useCategorizeRecentActivity.ts
  src/cow-react/modules/limitOrders/pure/Orders/OrderRow.tsx
  src/cow-react/modules/swap/containers/EthFlowStepper/index.tsx
  src/cow-react/modules/swap/pure/EthFlow/EthFlowStepper/index.cosmos.tsx
  src/cow-react/modules/swap/pure/EthFlow/EthFlowStepper/index.tsx
  src/cow-react/modules/swap/pure/EthFlow/EthFlowStepper/steps/Progress1.tsx
  src/cow-react/modules/swap/pure/EthFlow/EthFlowStepper/steps/Progress2.tsx
  src/cow-react/modules/swap/pure/EthFlow/EthFlowStepper/steps/Step1.tsx
  src/cow-react/modules/swap/pure/EthFlow/EthFlowStepper/steps/Step2.tsx
  src/cow-react/modules/swap/pure/EthFlow/EthFlowStepper/steps/Step3.tsx
  src/cow-react/modules/swap/services/ethFlow/steps/signEthFlowOrderStep.ts
  src/custom/components/AccountDetails/Transaction/ActivityDetails.tsx
  src/custom/components/AccountDetails/Transaction/StatusDetails.tsx
  src/custom/components/AccountDetails/Transaction/index.tsx
  src/custom/components/TransactionConfirmationModal/index.tsx
  src/custom/hooks/useActivityDerivedState.ts
  src/custom/hooks/useRecentActivity.ts
  src/custom/state/enhancedTransactions/updater/FinalizeTxUpdater.tsx
  src/custom/state/orders/actions.ts
  src/custom/state/orders/hooks.ts
  src/custom/state/orders/middleware.ts
  src/custom/state/orders/reducer.ts
Labels: eth-flow

#1804 [EthFlow]#1445 highligh invalid slippage
  src/cow-react/modules/swap/pure/EthFlow/EthFlowBanner/index.tsx
  src/cow-react/modules/swap/pure/Row/RowSlippageContent/index.tsx
  src/cow-react/modules/swap/state/EthFlow/updaters/EthFlowSlippageUpdater.tsx
  src/custom/components/TransactionSettings/TransactionSettingsMod.tsx
  src/custom/components/TransactionSettings/index.tsx
  src/custom/constants/index.ts
Labels: eth-flow

#1807 [EthFlow]#1445 more slippage business
  src/custom/components/TransactionSettings/TransactionSettingsMod.tsx
Labels: eth-flow

#1799 [EthFlow]#1787 failed sound on tx failure
  src/cow-react/modules/swap/pure/EthFlow/EthFlowStepper/steps/Step1.tsx
  src/custom/state/enhancedTransactions/updater/FinalizeTxUpdater.tsx
  src/custom/state/orders/actions.ts
  src/custom/state/orders/middleware.ts
  src/custom/state/orders/reducer.ts
Labels: eth-flow

#1808 [EthFlow] Update cypress
  cypress-custom/integration/swap.test.ts
  src/cow-react/modules/swap/pure/EthFlow/EthFlowBanner/index.tsx
Labels: eth-flow
