Repository cowprotocol/cowswap, pull requests merged in 2022-11, with the labels that each got.

#1260 [ETH-FLOW-V2] Adjust price quotes for Native currency
  src/cow-react/abis/types/ethflow/CoWSwapEthFlow.d.ts
  src/cow-react/abis/types/ethflow/factories/CoWSwapEthFlow__factory.ts
  src/cow-react/abis/types/factories/GPv2Settlement__factory.ts
  src/cow-react/abis/types/factories/MerkleDrop__factory.ts
  src/cow-react/abis/types/factories/TokenDistro__factory.ts
  src/cow-react/abis/types/factories/VCow__factory.ts
  src/cow-react/api/gnosisProtocol/api.ts
  src/cow-react/api/gnosisProtocol/legacy/types.ts
  src/cow-react/modules/swap/services/ethFlow/steps/signEthFlowOrderStep.ts
  src/custom/hooks/usePriceImpact/useQuoteAndSwap.ts
  src/custom/hooks/useRefetchPriceCallback.tsx
  src/custom/hooks/useStablecoinPrice/index.ts
  src/custom/state/orders/updaters/UnfillableOrdersUpdater.ts
  src/custom/state/price/reducer.ts
  src/custom/state/price/updater.ts
  yarn.lock
Labels: R&D

#1251 [ETH-FLOW-V2] Deadline enforcement COMPONENTS
  src/cow-react/abis/types/ethflow/CoWSwapEthFlow.d.ts
  src/cow-react/abis/types/ethflow/factories/CoWSwapEthFlow__factory.ts
  src/cow-react/abis/types/factories/GPv2Settlement__factory.ts
  src/cow-react/abis/types/factories/MerkleDrop__factory.ts
  src/cow-react/abis/types/factories/TokenDistro__factory.ts
  src/cow-react/abis/types/factories/VCow__factory.ts
  src/cow-react/modules/swap/containers/Row/RowDeadline/index.tsx
  src/cow-react/modules/swap/containers/Row/RowFee/index.tsx
  src/cow-react/modules/swap/containers/Row/RowReceivedAfterSlippage/index.tsx
  src/cow-react/modules/swap/containers/Row/RowSlippage/index.tsx
  src/cow-react/modules/swap/containers/TradeBasicDetails/index.tsx
  src/cow-react/modules/swap/pure/Row/RowDeadline/index.cosmos.tsx
  src/cow-react/modules/swap/pure/Row/RowDeadline/index.tsx
  src/cow-react/modules/swap/pure/Row/RowFeeContent/index.cosmos.tsx
  src/cow-react/modules/swap/pure/Row/RowReceivedAfterSlippageContent/index.cosmos.tsx
  src/cow-react/modules/swap/pure/Row/RowReceivedAfterSlippageContent/index.tsx
  src/cow-react/modules/swap/pure/Row/RowSlippageContent/index.cosmos.tsx
  src/cow-react/modules/swap/pure/Row/RowSlippageContent/index.tsx
  src/cow-react/modules/swap/pure/Row/styled.ts
  src/cow-react/modules/swap/pure/TradeRates/index.tsx
  src/cow-react/modules/swap/pure/TradeSummary/index.tsx
  src/cow-react/pages/Swap/SwapMod.tsx
  src/custom/components/TransactionSettings/TransactionSettingsMod.tsx
  yarn.lock
Labels: R&D

#1288 Limit orders bug fixes 1
  src/cow-react/common/pure/CurrencyInputPanel/CurrencyInputPanel.tsx
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/updaters/ActiveRateUpdater/index.ts
  src/custom/components/CurrencyInputPanel/FiatValue/FiatValueMod.tsx
Labels: limit-order

#1256 [Limit orders] Execution price implementation
  package.json
  src/cow-react/common/pure/CurrencyInputPanel/CurrencyInputPanel.tsx
  src/cow-react/modules/limitOrders/containers/LimitOrdersConfirmModal/index.tsx
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/containers/RateInput/index.tsx
  src/cow-react/modules/limitOrders/hooks/useApplyLimitRate.ts
  src/cow-react/modules/limitOrders/hooks/useCalculateRate.ts
  src/cow-react/modules/limitOrders/hooks/useGetInitialPrice.ts
  src/cow-react/modules/limitOrders/hooks/useLimitOrdersTradeState.ts
  src/cow-react/modules/limitOrders/hooks/useTypedValue.ts
  src/cow-react/modules/limitOrders/index.ts
  src/cow-react/modules/limitOrders/state/limitRateAtom.ts
  src/cow-react/modules/limitOrders/updaters/ActiveRateUpdater/index.ts
  src/cow-react/modules/limitOrders/updaters/MarketPriceUpdater/index.tsx
  src/cow-react/modules/limitOrders/updaters/QuoteUpdater/hooks/useFetchMarketPrice/index.ts
  src/cow-react/modules/limitOrders/updaters/QuoteUpdater/hooks/useFetchMarketPrice/useHandleError.ts
  src/cow-react/modules/limitOrders/updaters/QuoteUpdater/hooks/useFetchMarketPrice/useHandleResponse.ts
  src/cow-react/modules/limitOrders/updaters/QuoteUpdater/hooks/useQuoteRequestParams.ts
  src/cow-react/modules/limitOrders/updaters/QuoteUpdater/index.tsx
  src/cow-react/modules/limitOrders/utils/getAddress.ts
  src/cow-react/modules/limitOrders/utils/getDecimals.ts
  src/cow-react/modules/limitOrders/utils/toFraction.ts
  src/cow-react/pages/LimitOrders/index.tsx
  src/custom/components/CurrencyInputPanel/FiatValue/FiatValueMod.tsx
  src/custom/lib/utils/tryParseCurrencyAmount.ts
  yarn.lock
Labels: limit-order

#1287 [Limit orders] Rate impact warnings and indicator
  src/cow-react/modules/limitOrders/const/trade.ts
  src/cow-react/modules/limitOrders/containers/LimitOrdersConfirmModal/index.tsx
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/styled.tsx
  src/cow-react/modules/limitOrders/containers/RateInput/index.tsx
  src/cow-react/modules/limitOrders/containers/RateInput/styled.ts
  src/cow-react/modules/limitOrders/hooks/useRateImpact.ts
  src/cow-react/modules/limitOrders/pure/LimitOrdersConfirm/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/LimitOrdersConfirm/index.tsx
  src/cow-react/modules/limitOrders/pure/LimitOrdersDetails/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/LimitOrdersDetails/index.tsx
  src/cow-react/modules/limitOrders/pure/RateImpactIndicator/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/RateImpactIndicator/index.tsx
  src/cow-react/modules/limitOrders/pure/RateImpactWarning/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/RateImpactWarning/index.tsx
  src/cow-react/modules/limitOrders/pure/RateInput/HeadingText.tsx
  src/cow-react/modules/limitOrders/utils/toFraction.ts
Labels: limit-order

#1283 [Limit orders] deadline control
  src/cow-react/common/pure/Dropdown/styled.tsx
  src/cow-react/modules/limitOrders/const/trade.ts
  src/cow-react/modules/limitOrders/containers/DeadlineInput/index.tsx
  src/cow-react/modules/limitOrders/containers/ExpiryDate/index.tsx
  src/cow-react/modules/limitOrders/containers/ExpiryDate/styled.ts
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/containers/RateInput/styled.ts
  src/cow-react/modules/limitOrders/containers/SettingsWidget/index.tsx
  src/cow-react/modules/limitOrders/hooks/useLimitOrdersTradeState.ts
  src/cow-react/modules/limitOrders/hooks/useTradeFlowContext.ts
  src/cow-react/modules/limitOrders/pure/DeadlineSelector/deadlines.ts
  src/cow-react/modules/limitOrders/pure/DeadlineSelector/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/DeadlineSelector/index.tsx
  src/cow-react/modules/limitOrders/pure/DeadlineSelector/styled.tsx
  src/cow-react/modules/limitOrders/pure/Settings/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/Settings/index.tsx
  src/cow-react/modules/limitOrders/state/limitOrdersAtom.ts
  src/cow-react/modules/limitOrders/state/limitOrdersSettingsAtom.ts
  src/cow-react/modules/limitOrders/updaters/QuoteUpdater/hooks/useQuoteRequestParams.ts
  src/cow-react/types.ts
Labels: limit-order

#1342 Release 1.23.3
  .env
  .env.production
Labels: RELEASE

#1326 [Limit orders] UI improvements
  src/cow-react/common/hooks/useApproveState.ts
  src/cow-react/common/pure/CurrencyArrowSeparator/index.tsx
  src/cow-react/common/pure/CurrencyArrowSeparator/styled.tsx
  src/cow-react/common/pure/CurrencyInputPanel/CurrencyInputPanel.tsx
  src/cow-react/common/pure/ExpertModeModal/index.tsx
  src/cow-react/modules/limitOrders/containers/LimitOrdersConfirmModal/index.tsx
  src/cow-react/modules/limitOrders/containers/LimitOrdersConfirmModal/styled.tsx
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/containers/RateInput/styled.ts
  src/cow-react/modules/limitOrders/hooks/useDisableNativeTokenUsage.ts
  src/cow-react/modules/limitOrders/hooks/useLimitOrdersFormState.ts
  src/cow-react/modules/limitOrders/hooks/useTradeFlowContext.ts
  src/cow-react/modules/limitOrders/pure/InfoPopup/index.tsx
  src/cow-react/modules/limitOrders/pure/InfoPopup/styled.ts
  src/cow-react/modules/limitOrders/pure/LimitOrdersDetails/index.tsx
  src/cow-react/modules/limitOrders/pure/LimitOrdersDetails/styled.tsx
  src/cow-react/modules/limitOrders/pure/RateImpactIndicator/index.tsx
  src/cow-react/modules/limitOrders/pure/RateImpactWarning/index.tsx
  src/cow-react/modules/limitOrders/updaters/QuoteUpdater/hooks/useFetchMarketPrice/index.ts
  src/cow-react/modules/limitOrders/updaters/QuoteUpdater/hooks/useQuoteRequestParams.ts
  src/cow-react/modules/limitOrders/utils/getDecimals.ts
  src/cow-react/pages/LimitOrders/index.tsx
  src/cow-react/pages/LimitOrders/styled.ts
  src/cow-react/pages/error/AnySwapAffectedUsers/useIsAnySwapAffectedUser.ts
Labels: limit-order

#1336 Fix for lower-case letters in URL
  src/cow-react/common/hooks/useTokenBySymbolOrAddress.ts
Labels: RELEASE

#1334 [1.24] Fix app crash when network was switch to unsupported one
  src/cow-react/common/pure/CurrencyInputPanel/CurrencyInputPanel.tsx
  src/cow-react/common/pure/CurrencyInputPanel/CurrencyPreview.tsx
  src/cow-react/common/pure/CurrencyInputPanel/styled.tsx
  src/cow-react/modules/swap/containers/NewSwapWidget/index.tsx
  src/cow-react/modules/swap/containers/NewSwapWidget/types.ts
  src/cow-react/modules/swap/pure/SwapForm/index.cosmos.tsx
  src/cow-react/modules/swap/pure/SwapForm/index.tsx
  src/cow-react/modules/trade/hooks/setupTradeState/useSetupTradeState.ts
  src/cow-react/modules/trade/hooks/useTradeNavigate.ts
  src/custom/state/lists/hooks/hooksMod.ts
Labels: RELEASE

#1340 [1.24] Fix navigation to account page when open link with referral address
  cypress-custom/integration/send.test.ts
  src/cow-react/modules/application/containers/App/RoutesApp.tsx
  src/cow-react/modules/trade/hooks/setupTradeState/useSetupTradeState.ts
  src/cow-react/modules/trade/hooks/useTradeNavigate.ts
  src/cow-react/pages/NewSwap/index.tsx
Labels: RELEASE

#1358 [1.24] Search token by symbol or address with taking into account favourite tokens
  src/cow-react/common/hooks/useTokenBySymbolOrAddress.ts
Labels: RELEASE

#1362 [1.24] Hide fee discount when wrap/unwrap mode is enabled
  src/cow-react/modules/swap/containers/NewSwapWidget/index.tsx
  src/cow-react/modules/swap/pure/TradeRates/index.cosmos.tsx
  src/cow-react/modules/swap/pure/TradeRates/index.tsx
Labels: RELEASE

#1365 [1.24] Fix glitch with transparent Import token modal during alert
  src/cow-react/modules/trade/hooks/setupTradeState/useResetStateWithSymbolDuplication.ts
  src/cow-react/modules/trade/hooks/useTradeNavigate.ts
  src/cow-react/modules/trade/hooks/useTradeTypeInfo.ts
Labels: RELEASE

#1367 [Eth flow]#1289 Feature flag
  README.md
  src/cow-react/modules/swap/helpers/getEthFlowEnabled.ts
  src/cow-react/modules/swap/helpers/getSwapButtonState.ts
  src/cow-react/modules/swap/hooks/useIsEthFlow.ts
  src/cow-react/modules/swap/pure/SwapButtons/index.tsx
Labels: eth-flow

#1357 [1.24] Use default values for the trade link in the main menu
  src/cow-react/modules/limitOrders/state/limitOrdersAtom.ts
  src/cow-react/modules/swap/helpers/initSwapStateFromUrl.test.ts
  src/cow-react/modules/swap/helpers/initSwapStateFromUrl.ts
  src/cow-react/pages/NewSwap/index.tsx
  src/custom/components/Header/index.tsx
Labels: RELEASE

#1377 [Eth flow] Follow up 1239 - fix selltokenaddress
  src/cow-react/modules/swap/services/utils/logger.ts
  src/custom/utils/trade.ts
Labels: eth-flow

#1368 Fix part of the issue with invalid chain id
  src/cow-react/modules/trade/hooks/setupTradeState/useSetupTradeState.ts
Labels: RELEASE

#1387 Update COW address in Goerli token list
  src/custom/tokens/goerli-token-list.json
Labels: RELEASE

#1385 [1.24] Use only the input token for approve
  src/cow-react/modules/swap/hooks/useSwapButtonContext.ts
Labels: RELEASE

#1384 [1.24] Fix trade state update for not-connected wallet state
  src/cow-react/modules/trade/hooks/setupTradeState/useSetupTradeState.ts
  src/cow-react/modules/trade/hooks/setupTradeState/useTradeStateFromUrl.ts
  src/cow-react/modules/trade/hooks/useTradeNavigate.ts
  src/cow-react/modules/trade/hooks/useTradeState.ts
Labels: RELEASE

#1389 Added enable limit orders screen
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/hooks/useLimitOrdersTradeState.ts
  src/cow-react/modules/limitOrders/pure/UnlockLimitOrders/index.tsx
  src/cow-react/modules/limitOrders/pure/UnlockLimitOrders/styled.ts
  src/cow-react/modules/limitOrders/state/limitOrdersAtom.ts
Labels: limit-order

#1383 [Limit orders] orders list layout (pure components)
  src/cow-react/modules/limitOrders/containers/Orders/index.tsx
  src/cow-react/modules/limitOrders/containers/OrdersWidget/hooks/useLimitOrdersList.ts
  src/cow-react/modules/limitOrders/containers/OrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/index.ts
  src/cow-react/modules/limitOrders/pure/Orders/OrdersTable.styled.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrdersTable.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrdersTablePagination.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrdersTabs.tsx
  src/cow-react/modules/limitOrders/pure/Orders/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/Orders/index.tsx
  src/cow-react/modules/limitOrders/pure/Orders/orders.mock.ts
  src/cow-react/modules/limitOrders/pure/Orders/styled.ts
  src/cow-react/modules/limitOrders/pure/Widget/index.ts
  src/cow-react/pages/LimitOrders/index.tsx
  src/cow-react/pages/LimitOrders/styled.ts
Labels: limit-order

#1400 Update logic to properly handle buy order changes
  src/cow-react/abis/types/index.ts
  src/cow-react/modules/limitOrders/hooks/useActiveRateDisplay.ts
  src/cow-react/modules/limitOrders/updaters/ActiveRateUpdater/index.ts
Labels: limit-order

#1430 Set proper kind for limit-order
  src/cow-react/modules/limitOrders/hooks/useTradeFlowContext.ts
Labels: limit-order

#1370 [Eth flow]#1290 disable for sc wallets
  src/cow-react/abis/types/ethflow/CoWSwapEthFlow.d.ts
  src/cow-react/abis/types/ethflow/factories/CoWSwapEthFlow__factory.ts
  src/cow-react/abis/types/index.ts
  src/cow-react/common/hooks/useIsSmartContractWallet.ts
  src/cow-react/modules/swap/helpers/getEthFlowEnabled.ts
  src/cow-react/modules/swap/helpers/getSwapButtonState.ts
  src/cow-react/modules/swap/hooks/useIsEthFlow.ts
  src/cow-react/modules/swap/hooks/useSwapButtonContext.ts
  src/custom/components/Header/NetworkSelector/NetworkSelectorMod.tsx
  src/custom/components/OrderProgressBar/index.tsx
  src/custom/hooks/useWalletInfo.ts
  yarn.lock
Labels: eth-flow

#1423 Persist current orders tab to the URL query
  src/cow-react/modules/limitOrders/containers/OrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrdersTabs.tsx
  src/cow-react/modules/limitOrders/pure/Orders/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/Orders/index.tsx
Labels: limit-order

#1428 Hide progress bar in an activity card when order has class limit
  src/cow-react/api/gnosisProtocol/api.ts
  src/cow-react/modules/limitOrders/hooks/useTradeFlowContext.ts
  src/cow-react/modules/limitOrders/pure/LimitOrdersConfirm/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/LimitOrdersDetails/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/Orders/orders.mock.ts
  src/cow-react/modules/swap/hooks/useFlowContext.ts
  src/cow-react/modules/swap/services/ethFlow/steps/signEthFlowOrderStep.ts
  src/custom/components/AccountDetails/Transaction/ActivityDetails.tsx
  src/custom/components/TransactionConfirmationModal/index.cosmos.tsx
  src/custom/state/orders/actions.ts
  src/custom/state/orders/mocks.ts
  src/custom/state/orders/reducer.ts
  src/custom/utils/trade.ts
Labels: limit-order

#1434 DIsplay orders list and styles fixes
  src/cow-react/common/pure/CurrencyInputPanel/styled.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrdersTable.styled.tsx
  src/cow-react/modules/limitOrders/pure/Orders/styled.ts
  src/cow-react/pages/LimitOrders/index.tsx
  src/cow-react/pages/LimitOrders/styled.ts
Labels: limit-order

#1429 Fix WETH/USDC issue on switch and also warning issue
  src/cow-react/modules/limitOrders/updaters/QuoteUpdater/hooks/useFetchMarketPrice/index.ts
  src/cow-react/modules/limitOrders/updaters/QuoteUpdater/hooks/useFetchMarketPrice/useHandleResponse.ts
Labels: limit-order

#1425 Allow usage of native currency as buy token in limit orders
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/hooks/useDisableNativeTokenUsage.ts
  src/cow-react/modules/limitOrders/hooks/useGetInitialPrice.ts
  src/custom/utils/trade.ts
Labels: limit-order

#1454 Vercel build fix
  package.json
Labels: RELEASE

#1448 Hotfix 1.24.3
  package.json
  src/cow-react/modules/swap/containers/NewSwapModals/index.tsx
  src/cow-react/modules/swap/containers/NewSwapWidget/propsChecker.ts
  src/cow-react/modules/swap/hooks/useTradePricesUpdate.ts
  src/cow-react/modules/swap/pure/SwapButtons/index.tsx
  src/cow-react/modules/swap/pure/TradeRates/index.tsx
  src/cow-react/modules/swap/pure/warnings.tsx
  src/cow-react/modules/trade/hooks/setupTradeState/useSetupTradeState.ts
  src/cow-react/utils/genericPropsChecker.ts
  src/cow-react/utils/request.ts
  src/custom/hooks/useIsOnline.ts
Labels: RELEASE

#1461 Use current provider's chainId for trade context in the main menu
  src/custom/components/Header/index.tsx
Labels: RELEASE

#1443 Invert rate control for orders table
  src/cow-react/modules/limitOrders/pure/Orders/OrderRow.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrdersTable.tsx
  src/cow-react/modules/limitOrders/pure/RateInfo/index.tsx
Labels: limit-order

#1437 Warnings for unfillable orders
  src/cow-react/common/hooks/useTokensAllowances.ts
  src/cow-react/modules/limitOrders/containers/OrdersWidget/hooks/useOrdersBalancesAndAllowances.ts
  src/cow-react/modules/limitOrders/containers/OrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrderRow.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrdersTable.tsx
  src/cow-react/modules/limitOrders/pure/Orders/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/Orders/index.tsx
  src/custom/components/Popover/index.tsx
Labels: limit-order

#1472 Fix app crashing when user switch to an unsupported network
  src/cow-react/common/hooks/useTokenBySymbolOrAddress.ts
Labels: RELEASE

#1492 Release 1.24.6
  package.json
Labels: RELEASE

#1433 [EthFlow]#1379 Storing ethFlow deadline and slippage
  src/cow-react/modules/swap/containers/Row/RowDeadline/index.tsx
  src/cow-react/modules/swap/containers/Row/RowSlippage/index.tsx
  src/cow-react/modules/swap/pure/Row/RowDeadline/index.tsx
  src/cow-react/modules/swap/pure/Row/RowSlippageContent/index.tsx
  src/cow-react/modules/swap/state/EthFlow/updaters/EthFlowDeadlineUpdater.tsx
  src/cow-react/modules/swap/state/EthFlow/updaters/EthFlowSlippageUpdater.tsx
  src/cow-react/modules/swap/state/EthFlow/updaters/types.ts
  src/custom/components/TransactionSettings/TransactionSettingsMod.tsx
Labels: eth-flow

#1465 [EthFlow]#1293 connect stepper happy path
  src/cow-react/modules/swap/containers/EthFlowStepper/index.tsx
  src/custom/components/AccountDetails/Transaction/ActivityDetails.tsx
  src/custom/components/TransactionConfirmationModal/index.tsx
Labels: eth-flow

#1483 [EthFlow]#1293 stepper expired orders
  src/cow-react/api/gnosisProtocol/api.ts
  src/cow-react/modules/swap/containers/EthFlowStepper/index.tsx
  src/cow-react/modules/swap/pure/EthFlow/EthFlowBanner/index.tsx
Labels: eth-flow

#1447 Smart quote selection
  src/cow-react/common/hooks/useRateInfoParams.ts
  src/cow-react/common/pure/RateInfo/index.cosmos.tsx
  src/cow-react/common/pure/RateInfo/index.tsx
  src/cow-react/common/services/getQuoteCurrency/index.ts
  src/cow-react/modules/limitOrders/containers/LimitOrdersConfirmModal/index.tsx
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/styled.tsx
  src/cow-react/modules/limitOrders/containers/OrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/hooks/useActiveRateDisplay.ts
  src/cow-react/modules/limitOrders/pure/LimitOrdersConfirm/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/LimitOrdersConfirm/index.tsx
  src/cow-react/modules/limitOrders/pure/LimitOrdersDetails/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/LimitOrdersDetails/index.tsx
  src/cow-react/modules/limitOrders/pure/LimitOrdersDetails/styled.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrderRow.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrdersTable.tsx
  src/cow-react/modules/limitOrders/pure/Orders/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/Orders/index.tsx
  src/cow-react/modules/limitOrders/pure/RateInfo/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/RateInfo/index.tsx
  src/cow-react/modules/limitOrders/updaters/MarketPriceUpdater/index.tsx
  src/cow-react/modules/swap/containers/ConfirmSwapModalSetup/index.tsx
  src/cow-react/modules/swap/containers/NewSwapWidget/index.tsx
  src/cow-react/modules/swap/containers/NewSwapWidget/styled.tsx
  src/cow-react/modules/swap/pure/Price/index.tsx
  src/cow-react/modules/swap/pure/SwapForm/index.tsx
  src/cow-react/modules/swap/pure/TradeRates/index.cosmos.tsx
  src/cow-react/modules/swap/pure/TradeRates/index.tsx
  src/cow-react/modules/swap/pure/TradeRates/styled.tsx
  src/custom/components/AccountDetails/Transaction/ActivityDetails.tsx
  src/custom/components/swap/ConfirmSwapModal/ConfirmSwapModalMod.tsx
  src/custom/components/swap/SwapModalHeader/SwapModalHeaderMod.tsx
  src/custom/components/swap/TradePrice/TradePriceMod.tsx
  src/custom/components/swap/TradePrice/index.tsx
Labels: limit-order

#1494 Orders cancellation from Limit orders page
  src/cow-react/common/helpers/pendingOrderSummary.ts
  src/cow-react/modules/limitOrders/containers/OrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrderRow.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrdersTable.tsx
  src/cow-react/modules/limitOrders/pure/Orders/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/Orders/index.tsx
  src/cow-react/modules/limitOrders/updaters/QuoteUpdater/hooks/useQuoteRequestParams.ts
Labels: limit-order

#1513 Fixed order price calculation
  src/cow-react/common/hooks/usePrice.ts
  src/cow-react/common/hooks/useRateInfoParams.ts
  src/cow-react/common/pure/RateInfo/index.tsx
Labels: limit-order

#1516 Refactor limit orders hooks and components
  src/cow-react/common/hooks/useTokensAllowances.ts
  src/cow-react/modules/limitOrders/containers/OrdersWidget/hooks/useOrdersBalancesAndAllowances.ts
  src/cow-react/modules/limitOrders/pure/Orders/OrderRow.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrdersTable.tsx
  src/cow-react/modules/limitOrders/pure/Orders/utils/getOrderParams.ts
Labels: limit-order

#1518 Always display tooltip of RateImpactIndicator
  src/cow-react/modules/limitOrders/pure/RateImpactIndicator/index.tsx
Labels: limit-order

#1519 Disable CurrencyInputPanel when network is unsupported
  src/cow-react/common/pure/CurrencyInputPanel/CurrencyInputPanel.tsx
  src/cow-react/common/pure/CurrencyInputPanel/defaultCurrencyInputProps.ts
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/cow-react/modules/swap/pure/SwapForm/index.tsx
Labels: limit-order

#1522 Show different text on the stub for open/history orders
  src/cow-react/modules/limitOrders/containers/OrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/pure/Orders/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/Orders/index.tsx
Labels: limit-order

#1517 Disable limit-orders state persistence between browser tabs
  src/cow-react/modules/limitOrders/state/limitOrdersAtom.ts
Labels: limit-order

#1510 Fix market button disabled mode
  src/cow-react/modules/limitOrders/containers/RateInput/index.tsx
  src/cow-react/modules/limitOrders/containers/RateInput/styled.ts
  src/cow-react/modules/limitOrders/updaters/MarketPriceUpdater/index.tsx
Labels: limit-order

#1511 Fix rate title
  src/cow-react/common/pure/RateInfo/index.tsx
Labels: limit-order

#1512 Fix pending state for limit orders
  src/cow-react/api/gnosisProtocol/api.ts
  src/cow-react/common/hooks/useCategorizeRecentActivity.ts
  src/cow-react/modules/limitOrders/hooks/useTradeFlowContext.ts
  src/cow-react/modules/limitOrders/pure/LimitOrdersConfirm/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/LimitOrdersDetails/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/Orders/orders.mock.ts
  src/cow-react/modules/swap/hooks/useFlowContext.ts
  src/cow-react/modules/swap/services/ethFlow/steps/signEthFlowOrderStep.ts
  src/custom/components/TransactionConfirmationModal/index.cosmos.tsx
  src/custom/state/enhancedTransactions/reducer.ts
  src/custom/state/orders/actions.ts
  src/custom/state/orders/mocks.ts
  src/custom/utils/trade.ts
Labels: limit-order

#1520 Persist limit orders list page number to URL params
  src/cow-react/modules/limitOrders/const/limitOrdersTabs.ts
  src/cow-react/modules/limitOrders/containers/OrdersWidget/hooks/useOrdersBalancesAndAllowances.ts
  src/cow-react/modules/limitOrders/containers/OrdersWidget/hooks/useValidatePageUrlParams.ts
  src/cow-react/modules/limitOrders/containers/OrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrdersTable.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrdersTablePagination.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrdersTabs.tsx
  src/cow-react/modules/limitOrders/pure/Orders/index.cosmos.tsx
  src/cow-react/modules/limitOrders/pure/Orders/index.tsx
  src/cow-react/modules/limitOrders/utils/buildLimitOrdersUrl.ts
Labels: limit-order

#1539 Hide "Add a recipient" after clicking on it
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
Labels: limit-order

#1535 Improve limit orders trade button states
  src/cow-react/modules/limitOrders/containers/TradeButtons/limitOrdersTradeButtonsMap.tsx
  src/cow-react/modules/limitOrders/hooks/useLimitOrdersFormState.ts
Labels: limit-order

#1525 Set orderKind to SELL on switching token places
  src/cow-react/common/hooks/useThrottleFn.ts
  src/cow-react/constants/quote.ts
  src/cow-react/modules/limitOrders/containers/LimitOrdersWarnings/index.tsx
  src/cow-react/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/cow-react/utils/isFractionFalsy.ts
  src/custom/hooks/usePriceImpact/useFallbackPriceImpact.ts
  src/custom/state/orders/updaters/UnfillableOrdersUpdater.ts
Labels: limit-order

#1537 Limit orders/receipt filled field
  src/cow-react/modules/limitOrders/containers/OrdersWidget/hooks/useLimitOrdersList.ts
  src/cow-react/modules/limitOrders/pure/ReceiptModal/FilledField.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/index.tsx
  src/cow-react/modules/limitOrders/utils/isOrderFilled.ts
Labels: limit-order

#1544 Limit orders/receipt other fixes
  package.json
  src/cow-react/modules/limitOrders/containers/OrdersReceiptModal/hooks.ts
  src/cow-react/modules/limitOrders/containers/OrdersReceiptModal/index.tsx
  src/cow-react/modules/limitOrders/containers/OrdersWidget/hooks/useLimitOrdersList.ts
  src/cow-react/modules/limitOrders/containers/OrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrderRow.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrdersTable.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/DateField.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/OrderTypeField.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/index.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/styled.ts
  src/cow-react/modules/limitOrders/utils/calculatePrice.ts
  src/cow-react/modules/limitOrders/utils/getOrderExecutedAmounts.ts
  src/cow-react/modules/limitOrders/utils/isZero.ts
  yarn.lock
Labels: limit-order

#1502 Limit orders/receipt
  package.json
  src/cow-react/modules/limitOrders/containers/OrdersReceiptModal/hooks.ts
  src/cow-react/modules/limitOrders/containers/OrdersReceiptModal/index.tsx
  src/cow-react/modules/limitOrders/containers/OrdersWidget/hooks/useLimitOrdersList.ts
  src/cow-react/modules/limitOrders/containers/OrdersWidget/index.tsx
  src/cow-react/modules/limitOrders/hooks/useGetInitialPrice.ts
  src/cow-react/modules/limitOrders/pure/Orders/OrderRow.tsx
  src/cow-react/modules/limitOrders/pure/Orders/OrdersTable.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/CurrencyField.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/DateField.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/FeeField.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/FieldLabel.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/FilledField.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/OrderIdField.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/OrderTypeField.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/PriceField.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/StatusField.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/SurplusField.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/index.tsx
  src/cow-react/modules/limitOrders/pure/ReceiptModal/styled.ts
  src/cow-react/modules/limitOrders/state/limitOrdersReceiptAtom.ts
  src/cow-react/modules/limitOrders/utils/calculatePrice.ts
  src/cow-react/modules/limitOrders/utils/getOrderExecutedAmounts.ts
  src/cow-react/modules/limitOrders/utils/getOrderFilledAmount.ts
  src/cow-react/modules/limitOrders/utils/getOrderSurplus.ts
  src/cow-react/modules/limitOrders/utils/getSellAmountWithFee.ts
  src/cow-react/modules/limitOrders/utils/isOrderFilled.ts
  src/cow-react/modules/limitOrders/utils/isZero.ts
  src/cow-react/modules/limitOrders/utils/parsePrice.ts
  src/custom/hooks/useActivityDerivedState.ts
  yarn.lock
Labels: limit-order

#1562 Update the header navigation for limit-orders
  src/cow-react/modules/mainMenu/constants/mainMenu.ts
Labels: limit-order

#1553 Changed text for FeeExceedsFrom error
  src/cow-react/modules/limitOrders/containers/TradeButtons/limitOrdersTradeButtonsMap.tsx
Labels: limit-order

#1560 Limit orders/submit modal fix
  src/cow-react/modules/limitOrders/containers/LimitOrdersConfirmModal/index.tsx
  src/custom/components/TransactionConfirmationModal/TransactionConfirmationModalMod.tsx
  src/theme/components.tsx
Labels: limit-order
