Repository cowprotocol/cowswap, pull requests merged in 2022-07, with the labels that each got.

#768 Added initial order load GA event
  src/custom/state/price/reducer.ts
  src/custom/utils/analytics/swapEvents.ts
Labels: Analytics

#764 GA events part 2
  src/custom/state/price/reducer.ts
  src/custom/utils/analytics/index.ts
  src/custom/utils/analytics/listEvents.ts
  src/custom/utils/analytics/settingsEvents.ts
  src/custom/utils/analytics/swapEvents.ts
  src/custom/utils/analytics/themeEvents.ts
  src/custom/utils/analytics/transactionEvents.ts
  src/custom/utils/analytics/walletEvents.ts
  src/state/swap/hooks.tsx
Labels: Analytics

#762 Added GA events for order out of market
  src/custom/pages/Swap/SwapMod.tsx
  src/custom/state/index.ts
  src/custom/state/orders/updaters/UnfillableOrdersUpdater.ts
  src/custom/state/price/middleware.ts
  src/custom/state/price/reducer.ts
  src/custom/utils/analytics/index.ts
  src/custom/utils/analytics/listEvents.ts
  src/custom/utils/analytics/settingsEvents.ts
  src/custom/utils/analytics/swapEvents.ts
  src/custom/utils/analytics/themeEvents.ts
  src/custom/utils/analytics/transactionEvents.ts
  src/custom/utils/analytics/walletEvents.ts
  src/state/swap/hooks.tsx
Labels: Analytics

#781 GA events 4
  src/custom/theme/components.tsx
  src/custom/theme/cowSwapTheme.tsx
  src/custom/theme/index.tsx
  src/custom/utils/analytics/index.ts
  src/custom/utils/analytics/otherEvents.ts
  src/custom/utils/explorer.ts
  src/hooks/useAddTokenToMetamask.ts
  src/theme/components.tsx
Labels: Analytics

#609 Progress bar iteration 2
  src/assets/images/amms-graph-gc.svg
  src/assets/images/amms-graph.svg
  src/assets/images/cow-graph.svg
  src/assets/images/cow-meditating-smoooth.svg
  src/assets/images/cow-meditating.svg
  src/custom/assets/cow-swap/ammslogo/0x.png
  src/custom/assets/cow-swap/ammslogo/curve.png
  src/custom/assets/cow-swap/ammslogo/elk.png
  src/custom/assets/cow-swap/ammslogo/levinswap.png
  src/custom/assets/cow-swap/ammslogo/matcha.png
  src/custom/assets/cow-swap/ammslogo/symmetric.png
  src/custom/components/AMMsLogo/index.tsx
  src/custom/components/AMMsLogo/utils.ts
  src/custom/components/AccountDetails/Transaction/ActivityDetails.tsx
  src/custom/components/AccountDetails/Transaction/OrderProgressBar/index.tsx
  src/custom/components/AccountDetails/Transaction/StatusDetails.tsx
  src/custom/components/AccountDetails/Transaction/index.tsx
  src/custom/components/AccountDetails/styled.ts
  src/custom/components/DancingCow/index.tsx
  src/custom/components/Modal/index.ts
  src/custom/components/OrderProgressBar/index.tsx
  src/custom/components/OrderProgressBar/styled.ts
  src/custom/components/OrderProgressBar/utils.ts
  src/custom/components/TransactionConfirmationModal/TransactionConfirmationModalMod.tsx
  src/custom/components/TransactionConfirmationModal/index.tsx
  src/custom/hooks/useActivityDerivedState.ts
  src/custom/theme/baseTheme.tsx
  src/custom/theme/styled.d.ts
  src/custom/utils/trade.ts
Labels: app:CowSwap, Protofire

#797 Add order execution progress bar
  src/assets/images/amms-graph-gc.svg
  src/assets/images/amms-graph.svg
  src/assets/images/cow-graph.svg
  src/assets/images/cow-meditating-smoooth.svg
  src/assets/images/cow-meditating.svg
  src/custom/assets/cow-swap/ammslogo/0x.png
  src/custom/assets/cow-swap/ammslogo/1inch.png
  src/custom/assets/cow-swap/ammslogo/baoswap.png
  src/custom/assets/cow-swap/ammslogo/curve.png
  src/custom/assets/cow-swap/ammslogo/elk.png
  src/custom/assets/cow-swap/ammslogo/honeyswap.png
  src/custom/assets/cow-swap/ammslogo/levinswap.png
  src/custom/assets/cow-swap/ammslogo/matcha.png
  src/custom/assets/cow-swap/ammslogo/paraswap.png
  src/custom/assets/cow-swap/ammslogo/sushi.png
  src/custom/assets/cow-swap/ammslogo/swapr.png
  src/custom/assets/cow-swap/ammslogo/symmetric.png
  src/custom/assets/cow-swap/ammslogo/uniswap.png
  src/custom/components/AMMsLogo/index.tsx
  src/custom/components/AMMsLogo/utils.ts
  src/custom/components/AccountDetails/Transaction/ActivityDetails.tsx
  src/custom/components/AccountDetails/Transaction/CancelButton.tsx
  src/custom/components/AccountDetails/Transaction/StatusDetails.tsx
  src/custom/components/AccountDetails/Transaction/index.tsx
  src/custom/components/AccountDetails/styled.ts
  src/custom/components/DancingCow/index.tsx
  src/custom/components/Modal/index.ts
  src/custom/components/OrderProgressBar/index.tsx
  src/custom/components/OrderProgressBar/styled.ts
  src/custom/components/OrderProgressBar/utils.ts
  src/custom/components/TransactionConfirmationModal/TransactionConfirmationModalMod.tsx
  src/custom/components/TransactionConfirmationModal/index.tsx
  src/custom/hooks/useActivityDerivedState.ts
  src/custom/theme/baseTheme.tsx
  src/custom/theme/styled.d.ts
  src/custom/utils/trade.ts
Labels: Protofire

#684 Token page improvements 1
  src/custom/components/Tokens/TokensTable.tsx
  src/custom/components/Tokens/TokensTableRow.tsx
  src/custom/components/Tokens/styled.ts
  src/custom/pages/Account/Tokens/styled.tsx
Labels: Account

#798 🕜🕝🕞🕟🕠🕡 RELEASE 1.18.0
  src/assets/images/amms-graph-gc.svg
  src/assets/images/amms-graph.svg
  src/assets/images/cow-graph.svg
  src/assets/images/cow-meditating-smoooth.svg
  src/assets/images/cow-meditating.svg
  src/custom/assets/cow-swap/ammslogo/0x.png
  src/custom/assets/cow-swap/ammslogo/1inch.png
  src/custom/assets/cow-swap/ammslogo/baoswap.png
  src/custom/assets/cow-swap/ammslogo/curve.png
  src/custom/assets/cow-swap/ammslogo/elk.png
  src/custom/assets/cow-swap/ammslogo/honeyswap.png
  src/custom/assets/cow-swap/ammslogo/levinswap.png
  src/custom/assets/cow-swap/ammslogo/matcha.png
  src/custom/assets/cow-swap/ammslogo/paraswap.png
  src/custom/assets/cow-swap/ammslogo/sushi.png
  src/custom/assets/cow-swap/ammslogo/swapr.png
  src/custom/assets/cow-swap/ammslogo/symmetric.png
  src/custom/assets/cow-swap/ammslogo/uniswap.png
  src/custom/components/AMMsLogo/index.tsx
  src/custom/components/AMMsLogo/utils.ts
  src/custom/components/AccountDetails/Transaction/ActivityDetails.tsx
  src/custom/components/AccountDetails/Transaction/CancelButton.tsx
  src/custom/components/AccountDetails/Transaction/StatusDetails.tsx
  src/custom/components/AccountDetails/Transaction/index.tsx
  src/custom/components/AccountDetails/styled.ts
  src/custom/components/DancingCow/index.tsx
  src/custom/components/Modal/index.ts
  src/custom/components/OrderProgressBar/index.tsx
  src/custom/components/OrderProgressBar/styled.ts
  src/custom/components/OrderProgressBar/utils.ts
  src/custom/components/TransactionConfirmationModal/TransactionConfirmationModalMod.tsx
  src/custom/components/TransactionConfirmationModal/index.tsx
  src/custom/hooks/useActivityDerivedState.ts
  src/custom/theme/baseTheme.tsx
  src/custom/theme/styled.d.ts
  src/custom/utils/trade.ts
Labels: Protofire, RELEASE

#569 Added goerli-token-list.json file
  src/custom/tokens/goerli-token-list.json
Labels: Goerli

#559 Goerli initial implementation
  .env
  .env.production
  README.md
  package.json
  src/custom/api/gnosisProtocol/api.ts
  src/custom/api/gnosisSafe/index.ts
  src/custom/assets/cow-swap/network-goerli-logo.svg
  src/custom/components/AMMsLogo/index.tsx
  src/custom/components/Header/NetworkSelector/NetworkSelectorMod.tsx
  src/custom/components/Header/index.tsx
  src/custom/components/OrderProgressBar/utils.ts
  src/custom/constants/chainInfo/chainInfoMod.ts
  src/custom/constants/chains/chainsMod.ts
  src/custom/constants/index.ts
  src/custom/constants/lists.ts
  src/custom/constants/routing/routingMod.ts
  src/custom/constants/tokens/index.ts
  src/custom/hooks/useContract/index.ts
  src/custom/hooks/useContract/useContractMod.ts
  src/custom/hooks/useUSDCPrice/index.ts
  src/custom/pages/Account/LockedGnoVesting/claimData/goerli.json
  src/custom/pages/Account/LockedGnoVesting/claimData/index.ts
  src/custom/pages/Account/LockedGnoVesting/index.tsx
  src/custom/state/claim/hooks/utils.ts
  src/custom/state/claim/reducer.ts
  src/custom/state/lists/hooks/hooksMod.ts
  src/custom/state/lists/reducer/reducerMod.test.ts
  src/custom/utils/explorer.ts
  src/custom/utils/goerli/constants.ts
  src/custom/utils/index.ts
  src/custom/utils/switchToNetwork.ts
  yarn.lock
Labels: Goerli

#689 Updated layout and added USD price
  src/custom/components/Button/index.tsx
  src/custom/components/Tokens/BalanceCell.tsx
  src/custom/components/Tokens/FavouriteTokenButton.tsx
  src/custom/components/Tokens/FiatBalanceCell.tsx
  src/custom/components/Tokens/TokensTable.tsx
  src/custom/components/Tokens/TokensTableRow.tsx
  src/custom/components/Tokens/styled.ts
  src/custom/pages/Account/Tokens/TokensOverview.tsx
  src/custom/pages/Account/Tokens/styled.ts
  src/custom/pages/Account/styled.tsx
Labels: Account

#810 Hotfix 1.18.1 RC.0
  src/custom/components/AccountDetails/Transaction/CancelationModal.tsx
  src/custom/pages/Swap/SwapMod.tsx
Labels: RELEASE

#783 Adding FollowPendingTxPopup when TxSubmittedModal is close
  src/custom/components/Header/HeaderMod.tsx
  src/custom/components/Header/styled.ts
  src/custom/components/Popover/PopoverMod.tsx
  src/custom/components/Popups/FollowPendingTxPopup/FollowPendingTxPopupUI.tsx
  src/custom/components/Popups/FollowPendingTxPopup/index.tsx
  src/custom/components/Tooltip/TooltipMod.tsx
  src/custom/components/TransactionConfirmationModal/TransactionConfirmationModalMod.tsx
  src/custom/components/Web3Status/Web3StatusMod.tsx
  src/custom/components/Web3Status/index.tsx
  src/custom/state/application/atoms.ts
  src/custom/state/application/hooks.ts
Labels: app:CowSwap, Auto-merge, Protofire

#819 Toast notification position
  src/custom/components/Popups/PopupsMod.tsx
Labels: app:CowSwap, Bug, Low, Protofire

#815 [SENTRY] disable price feed empty response reporting
  src/custom/hooks/useUSDCPrice/index.ts
Labels: SENTRY

#822 👉 RELEASE 1.19.0
  .env
  .env.production
  README.md
  package.json
  src/custom/api/gnosisProtocol/api.ts
  src/custom/api/gnosisSafe/index.ts
  src/custom/assets/cow-swap/network-goerli-logo.svg
  src/custom/components/AMMsLogo/index.tsx
  src/custom/components/Header/HeaderMod.tsx
  src/custom/components/Header/NetworkSelector/NetworkSelectorMod.tsx
  src/custom/components/Header/index.tsx
  src/custom/components/Header/styled.ts
  src/custom/components/OrderProgressBar/utils.ts
  src/custom/components/Popover/PopoverMod.tsx
  src/custom/components/Popups/FollowPendingTxPopup/FollowPendingTxPopupUI.tsx
  src/custom/components/Popups/FollowPendingTxPopup/index.tsx
  src/custom/components/Popups/PopupsMod.tsx
  src/custom/components/Tooltip/TooltipMod.tsx
  src/custom/components/TransactionConfirmationModal/TransactionConfirmationModalMod.tsx
  src/custom/components/Web3Status/Web3StatusMod.tsx
  src/custom/components/Web3Status/index.tsx
  src/custom/components/swap/EthWethWrap/WrapCard.tsx
  src/custom/constants/chainInfo/chainInfoMod.ts
  src/custom/constants/chains/chainsMod.ts
  src/custom/constants/index.ts
  src/custom/constants/lists.ts
  src/custom/constants/routing/routingMod.ts
  src/custom/constants/tokens/index.ts
  src/custom/hooks/useContract/index.ts
  src/custom/hooks/useContract/useContractMod.ts
  src/custom/hooks/useUSDCPrice/index.ts
  src/custom/pages/Account/LockedGnoVesting/claimData/goerli.json
  src/custom/pages/Account/LockedGnoVesting/claimData/index.ts
  src/custom/pages/Account/LockedGnoVesting/index.tsx
  src/custom/state/appData/types.tsx
  src/custom/state/appData/updater.ts
  src/custom/state/application/atoms.ts
  src/custom/state/application/hooks.ts
  src/custom/state/claim/hooks/utils.ts
  src/custom/state/claim/reducer.ts
  src/custom/state/lists/hooks/hooksMod.ts
  src/custom/state/lists/reducer/reducerMod.test.ts
  src/custom/state/orders/helpers.tsx
  src/custom/state/orders/updaters/utils.ts
  src/custom/theme/baseTheme.tsx
  src/custom/utils/appData.ts
  src/custom/utils/explorer.ts
  src/custom/utils/goerli/constants.ts
  src/custom/utils/index.ts
  src/custom/utils/switchToNetwork.ts
  src/lib/hooks/useTokenList/fetchTokenList.test.ts
  src/lib/hooks/useTokenList/mockTokenList.json
  src/setupTests.ts
  yarn.lock
Labels: app:CowSwap, Protofire, RELEASE

#824 Bump Version to 1.19.0
  package.json
Labels: app:CowSwap, Protofire

#826 [ACCOUNT] Split pages
  src/custom/components/FlashingLoading/index.tsx
  src/custom/constants/index.ts
  src/custom/pages/Account/Affiliate.tsx
  src/custom/pages/Account/Balances.tsx
  src/custom/pages/Account/Governance.tsx
  src/custom/pages/Account/Tokens/TokensOverview.tsx
  src/custom/pages/Account/index.tsx
  src/custom/pages/Account/styled.tsx
  src/custom/pages/Account/utils.ts
  src/custom/pages/App/index.tsx
Labels: Account

#657 [Account] Add token search capability
  src/custom/components/Tokens/TokensTable.tsx
  src/custom/components/Tokens/styled.ts
Labels: Account
