Repository cowprotocol/cowswap, pull requests merged in 2023-06, with the labels that each got.

#2591 [2] refactor(trade): add wrap native token flow to TradeWidget
  src/legacy/hooks/useWrapCallback.ts
  src/modules/limitOrders/containers/TradeButtons/index.tsx
  src/modules/swap/hooks/useSwapButtonContext.ts
  src/modules/trade/containers/TradeWidget/index.tsx
  src/modules/trade/containers/WrapNativeModal/index.tsx
  src/modules/trade/hooks/useSwitchTokensPlaces.ts
  src/modules/trade/hooks/useWrapNativeFlow.ts
  src/modules/trade/index.ts
  src/modules/trade/state/wrapNativeStateAtom.ts
  src/modules/tradeFormValidation/pure/TradeFormButtons/tradeButtonsMap.tsx
  src/modules/tradeFormValidation/types.ts
Labels: TWAP

#2592 [3] feat(twap): add generic trade form validation to TWAP
  src/modules/limitOrders/containers/TradeButtons/index.tsx
  src/modules/tradeFormValidation/hooks/useTradeFormButtonContext.ts
  src/modules/tradeFormValidation/index.ts
  src/modules/twap/containers/ActionButtons/index.tsx
  src/modules/twap/containers/TwapFormWidget/index.tsx
  src/modules/twap/hooks/useTwapFormState.ts
  src/modules/twap/pure/PrimaryActionButton/getTwapFormState.tsx
  src/modules/twap/pure/PrimaryActionButton/index.tsx
  src/pages/AdvancedOrders/index.tsx
Labels: TWAP

#2610 feat(safe): allow to sell all native
  src/common/pure/CurrencyInputPanel/CurrencyInputPanel.tsx
  src/legacy/hooks/useWrapCallback.ts
  src/legacy/utils/maxAmountSpend.ts
  src/modules/swap/containers/SwapWidget/index.tsx
  src/modules/swap/hooks/useSwapButtonContext.ts
  src/modules/trade/containers/TradeWidget/index.tsx
Labels: RELEASE

#2618 fix: limit wrap/unwrap switch arrow
  src/modules/trade/hooks/useSwitchTokensPlaces.ts
Labels: RELEASE

#2626 fix(twap): display local form validation first
  src/modules/twap/containers/ActionButtons/index.tsx
Labels: TWAP

#2597 feat(twap): persist twap orders from Safe and display them in orders table
  package.json
  src/abis/ComposableCoW.json
  src/api/gnosisProtocol/api.ts
  src/api/gnosisProtocol/hooks.ts
  src/api/gnosisProtocol/index.ts
  src/api/gnosisSafe/hooks/useSafeSdk.ts
  src/cowSdk.ts
  src/legacy/hooks/useRecentActivity.ts
  src/legacy/state/orders/hooks.ts
  src/legacy/state/orders/updaters/UnfillableOrdersUpdater.ts
  src/legacy/utils/environments.ts
  src/lib/state/index.ts
  src/modules/advancedOrders/containers/AdvancedOrdersWidget/index.tsx
  src/modules/tokensList/state/tokensListAtom.ts
  src/modules/tokensList/updaters/TokensListUpdater.ts
  src/modules/tradeQuote/hooks/useQuoteParams.ts
  src/modules/tradeQuote/hooks/useSetTradeQuoteParams.ts
  src/modules/tradeQuote/state/tradeQuoteParamsAtom.ts
  src/modules/twap/const.ts
  src/modules/twap/containers/TwapFormWidget/index.tsx
  src/modules/twap/hooks/useFetchTwapOrdersFromSafe.ts
  src/modules/twap/hooks/useFetchTwapPartOrders.ts
  src/modules/twap/hooks/useTwapDiscreteOrders.ts
  src/modules/twap/hooks/useTwapOrdersAuthMulticall.ts
  src/modules/twap/hooks/useTwapOrdersTradeableMulticall.ts
  src/modules/twap/services/fetchTwapOrdersFromSafe.ts
  src/modules/twap/state/twapOrdersListAtom.ts
  src/modules/twap/state/twapPartOrdersAtom.ts
  src/modules/twap/types.ts
  src/modules/twap/updaters/TwapOrdersUpdater.tsx
  src/modules/twap/utils/buildTwapOrdersItems.ts
  src/modules/twap/utils/emulateTwapAsOrder.ts
  src/modules/twap/utils/getConditionalOrderId.ts
  src/modules/twap/utils/getTwapOrderStatus.ts
  src/modules/twap/utils/parseTwapOrderStruct.ts
  src/pages/AdvancedOrders/index.tsx
  src/utils/orderUtils/computeOrderUid.ts
Labels: TWAP

#2629 feat(twap): twap review order - pt1
  src/common/pure/ExecutionPrice/index.tsx
  src/common/pure/RateInfo/index.tsx
  src/modules/twap/containers/TwapConfirmDetails/LimitPriceRow.tsx
  src/modules/twap/containers/TwapConfirmDetails/MinReceivedRow.tsx
  src/modules/twap/containers/TwapConfirmDetails/SlippageRow.tsx
  src/modules/twap/containers/TwapConfirmDetails/index.tsx
  src/modules/twap/containers/TwapConfirmDetails/styled.ts
  src/modules/twap/containers/TwapConfirmModal/index.tsx
  src/modules/twap/containers/TwapFormWidget/index.tsx
  src/modules/twap/pure/ConfirmDetailsItem/index.tsx
  src/modules/twap/pure/ConfirmDetailsItem/styled.ts
  src/modules/twap/state/twapOrderAtom.ts
  src/modules/twap/state/twapOrdersSettingsAtom.ts
Labels: TWAP

#2630 feat(twap): twap review order - pt2 - refactor container
  src/modules/trade/containers/TradeBasicConfirmDetails/LimitPriceRow.tsx
  src/modules/trade/containers/TradeBasicConfirmDetails/MinReceivedRow.tsx
  src/modules/trade/containers/TradeBasicConfirmDetails/SlippageRow.tsx
  src/modules/trade/containers/TradeBasicConfirmDetails/index.tsx
  src/modules/trade/containers/TradeBasicConfirmDetails/styled.ts
  src/modules/trade/pure/ConfirmDetailsItem/index.tsx
  src/modules/trade/pure/ConfirmDetailsItem/styled.ts
  src/modules/twap/containers/TwapConfirmModal/index.tsx
  src/modules/twap/state/twapOrdersSettingsAtom.ts
Labels: TWAP

#2631 feat(twap): twap review order - pt3 - twap fields
  src/legacy/hooks/useStablecoinPrice/index.ts
  src/modules/trade/containers/TradeBasicConfirmDetails/MinReceivedRow.tsx
  src/modules/trade/containers/TradeBasicConfirmDetails/index.tsx
  src/modules/trade/pure/ConfirmDetailsItem/index.tsx
  src/modules/trade/pure/ReviewOrderModalAmountRow/index.tsx
  src/modules/twap/containers/TwapConfirmModal/TwapConfirmDetails.tsx
  src/modules/twap/containers/TwapConfirmModal/index.tsx
Labels: TWAP

#2621 [1] refactor: remove account/Affilate and its deps
  src/legacy/hooks/useFetchProfile.ts
  src/legacy/hooks/useParseReferralQueryParam.ts
  src/legacy/hooks/useReferralLink.ts
  src/legacy/state/affiliate/actions.ts
  src/legacy/state/affiliate/hooks.ts
  src/legacy/state/affiliate/reducer.ts
  src/legacy/state/affiliate/updater.tsx
  src/pages/Account/AddressSelector.tsx
  src/pages/Account/Affiliate.tsx
Labels: TWAP

#2622 [2] feat(twap): add ComposableCowInfo to Order model
  src/api/gnosisProtocol/hooks.ts
  src/common/types.ts
  src/legacy/state/orders/actions.ts
  src/legacy/state/orders/updaters/GpOrdersUpdater.ts
  src/modules/twap/state/twapOrdersListAtom.ts
  src/modules/twap/types.ts
  src/modules/twap/utils/buildTwapOrdersItems.ts
  src/modules/twap/utils/emulateTwapAsOrder.ts
  src/utils/deepEqual.ts
Labels: TWAP

#2623 [3] feat(twap): twap orders cancellation
  src/abis/ComposableCoW.json
  src/api/gnosisProtocol/hooks.ts
  src/common/hooks/useCancelOrder/onChainCancellation.ts
  src/common/hooks/useCancelOrder/useGetOnChainCancellation.ts
  src/common/hooks/useCancelOrder/useSendOnChainCancellation.test.ts
  src/common/hooks/useCancelOrder/useSendOnChainCancellation.ts
  src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/index.tsx
  src/modules/twap/hooks/useCancelTwapOrder.ts
  src/modules/twap/services/cancelTwapOrderTxs.ts
  src/modules/twap/state/twapOrdersListAtom.ts
  src/modules/twap/updaters/TwapOrdersUpdater.tsx
  src/modules/twap/utils/emulateTwapAsOrder.ts
Labels: TWAP

#2645 feat(twap): twap review order - pt4 - duration fields
  src/modules/trade/pure/ConfirmDetailsItem/index.tsx
  src/modules/twap/containers/TwapConfirmModal/TwapConfirmDetails.tsx
  src/modules/twap/containers/TwapConfirmModal/index.tsx
  src/modules/twap/utils/deadlinePartsDisplay.ts
Labels: TWAP

#2633 fix(twap): improve twap orders state synchronisation
  src/api/gnosisProtocol/api.ts
  src/common/hooks/useCancelOrder/index.ts
  src/common/hooks/useCancelOrder/onChainCancellation.ts
  src/common/hooks/useCancelOrder/useGetOnChainCancellation.ts
  src/common/hooks/useCancelOrder/useSendOnChainCancellation.test.ts
  src/common/hooks/useCancelOrder/useSendOnChainCancellation.ts
  src/common/utils/isOrderOffChainCancellable.ts
  src/legacy/state/orders/reducer.ts
  src/legacy/state/orders/updaters/utils.ts
  src/modules/ordersTable/pure/OrderStatusBox/index.tsx
  src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/index.tsx
  src/modules/swap/containers/EthFlowStepper/index.tsx
  src/modules/swap/services/types.ts
  src/modules/twap/const.ts
  src/modules/twap/hooks/useCancelTwapOrder.ts
  src/modules/twap/hooks/useCreateTwapOrder.ts
  src/modules/twap/hooks/useFetchTwapPartOrders.ts
  src/modules/twap/hooks/useTwapOrderCreationContext.ts
  src/modules/twap/hooks/useTwapOrdersAuthMulticall.ts
  src/modules/twap/pure/PrimaryActionButton/getTwapFormState.tsx
  src/modules/twap/pure/PrimaryActionButton/index.tsx
  src/modules/twap/services/createTwapOrderTxs.test.ts
  src/modules/twap/services/createTwapOrderTxs.ts
  src/modules/twap/services/fetchTwapOrdersFromSafe.ts
  src/modules/twap/services/settleTwapOrder.test.ts
  src/modules/twap/services/settleTwapOrder.ts
  src/modules/twap/state/twapOrdersListAtom.ts
  src/modules/twap/state/twapPartOrdersAtom.ts
  src/modules/twap/types.ts
  src/modules/twap/updaters/TwapOrdersUpdater.tsx
  src/modules/twap/utils/buildTwapOrderParamsStruct.ts
  src/modules/twap/utils/buildTwapOrdersItems.ts
  src/modules/twap/utils/getTwapOrderStatus.ts
  src/modules/twap/utils/twapOrderToStruct.ts
  src/modules/twap/utils/updateTwapOrdersList.ts
  src/utils/orderUtils/getIsComposableCowChildOrder.ts
  src/utils/orderUtils/getIsComposableCowParentOrder.ts
Labels: TWAP

#2654 feat(twap): launch darkly feature flag
  package.json
  src/common/containers/FeatureGuard/index.tsx
  src/common/hooks/featureFlags/useFeatureFlags.ts
  src/common/hooks/featureFlags/useIsEthFlowBundlingEnabled.ts
  src/common/hooks/featureFlags/useIsTxBundlingEnabled.ts
  src/common/hooks/useIsAdvancedOrdersEnabled.ts
  src/constants/featureFlags.ts
  src/legacy/components/Header/index.tsx
  src/modules/application/containers/TradeWidgetLinks/index.tsx
  src/modules/limitOrders/containers/LimitOrdersConfirmModal/index.tsx
  src/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/modules/limitOrders/containers/SettingsWidget/index.tsx
  src/modules/limitOrders/hooks/useHandleOrderPlacement.test.ts
  src/modules/limitOrders/hooks/useIsSafeApprovalBundle.ts
  src/modules/limitOrders/hooks/useTradeFlowContext.ts
  src/modules/mainMenu/constants/mainMenu.ts
  src/modules/mainMenu/hooks.ts
  src/modules/mainMenu/index.ts
  src/modules/mainMenu/utils.ts
  src/modules/swap/hooks/useIsSafeEthFlow.ts
  src/modules/swap/hooks/useSwapButtonContext.ts
  src/modules/trade/hooks/useTradeRouteContext.ts
  src/modules/tradeFormValidation/hooks/useTradeFormValidationContext.ts
  src/pages/AdvancedOrders/index.tsx
  src/utils/featureFlags.ts
  yarn.lock
Labels: TWAP

#2652 feat(twap): display twap-specific information on order receipt modal
  src/common/pure/SafeWalletLink/index.tsx
  src/common/types.ts
  src/legacy/components/EnhancedTransactionLink/index.tsx
  src/modules/account/containers/Transaction/ActivityDetails.tsx
  src/modules/account/containers/Transaction/StatusDetails.tsx
  src/modules/ordersTable/containers/OrdersReceiptModal/index.tsx
  src/modules/ordersTable/pure/ReceiptModal/FieldLabel.tsx
  src/modules/ordersTable/pure/ReceiptModal/fields/SafeTxFields.tsx
  src/modules/ordersTable/pure/ReceiptModal/index.tsx
  src/modules/ordersTable/pure/ReceiptModal/styled.ts
  src/modules/twap/hooks/useFetchTwapOrdersFromSafe.ts
  src/modules/twap/hooks/useFetchTwapPartOrders.ts
  src/modules/twap/hooks/useTwapOrderByChildId.ts
  src/modules/twap/hooks/useTwapOrderById.ts
  src/modules/twap/index.ts
  src/modules/twap/services/fetchTwapOrdersFromSafe.ts
  src/modules/twap/state/twapOrdersListAtom.ts
  src/modules/twap/types.ts
  src/modules/twap/updaters/TwapOrdersUpdater.tsx
  src/modules/twap/utils/buildTwapOrdersItems.ts
  src/modules/wallet/api/assets/safe-logo.svg
Labels: TWAP

#2660 fix: tooltip time display
  src/modules/twap/containers/TwapFormWidget/tooltips.tsx
Labels: TWAP

#2669 feat(twap): setup fallback handler and wallet validation UI
  src/common/pure/InlineBanner/banners.tsx
  src/common/pure/InlineBanner/index.cosmos.tsx
  src/common/pure/InlineBanner/index.tsx
  src/modules/ordersTable/pure/ReceiptModal/index.tsx
  src/modules/tradeFormValidation/services/validateTradeForm.ts
  src/modules/tradeFormValidation/types.ts
  src/modules/twap/containers/ActionButtons/index.tsx
  src/modules/twap/containers/TwapConfirmModal/index.tsx
  src/modules/twap/containers/TwapFormWarnings/index.tsx
  src/modules/twap/containers/TwapFormWarnings/warnings/FallbackHandlerWarning.tsx
  src/modules/twap/containers/TwapFormWarnings/warnings/UnsupportedWalletWarning.tsx
  src/modules/twap/containers/TwapFormWidget/index.tsx
  src/modules/twap/hooks/useCreateTwapOrder.ts
  src/modules/twap/hooks/useExtensibleFallbackContext.ts
  src/modules/twap/hooks/useSetupFallbackHandler.ts
  src/modules/twap/hooks/useTwapFormState.ts
  src/modules/twap/hooks/useTwapOrderCreationContext.ts
  src/modules/twap/pure/PrimaryActionButton/getTwapFormState.tsx
  src/modules/twap/pure/PrimaryActionButton/index.tsx
  src/modules/twap/services/createTwapOrderTxs.test.ts
  src/modules/twap/services/extensibleFallbackSetupTxs.test.tsx
  src/modules/twap/services/extensibleFallbackSetupTxs.ts
  src/modules/twap/services/getSignatureVerifierContract.ts
  src/modules/twap/services/settleTwapOrder.test.ts
  src/modules/twap/services/settleTwapOrder.ts
  src/modules/twap/services/setupExtensibleFallbackHandler.test.ts
  src/modules/twap/services/setupExtensibleFallbackHandler.ts
  src/modules/twap/services/verifyExtensibleFallback.test.ts
  src/modules/twap/services/verifyExtensibleFallback.ts
  src/modules/twap/state/twapOrdersSettingsAtom.ts
Labels: TWAP

#2680 feat(twap): validation and warnings - minimum part time
  src/modules/twap/const.ts
  src/modules/twap/containers/TwapFormWarnings/index.tsx
  src/modules/twap/containers/TwapFormWarnings/warnings/SmallPartTimeWarning.tsx
  src/modules/twap/containers/TwapFormWarnings/warnings/index.ts
  src/modules/twap/hooks/useTwapFormState.ts
  src/modules/twap/pure/PrimaryActionButton/getTwapFormState.tsx
  src/modules/twap/pure/PrimaryActionButton/index.tsx
  src/modules/twap/utils/isPartTimeIntervalTooShort.ts
Labels: TWAP

#2617 feat: tooltip allow for tooltips with variables
  src/common/pure/CurrencyArrowSeparator/styled.tsx
  src/legacy/components/QuestionHelper/QuestionHelperMod.tsx
  src/legacy/components/QuestionHelper/index.tsx
  src/legacy/components/Tooltip/index.tsx
  src/modules/trade/containers/TradeWidget/styled.tsx
  src/modules/trade/pure/TradeSelect/index.tsx
  src/modules/trade/pure/TradeTextBox/index.tsx
  src/modules/trade/pure/TradeWidgetField/index.tsx
  src/modules/trade/pure/TradeWidgetField/styled.tsx
  src/modules/twap/containers/TwapFormWidget/index.tsx
  src/modules/twap/containers/TwapFormWidget/styled.tsx
  src/modules/twap/containers/TwapFormWidget/tooltips.tsx
  src/modules/twap/pure/AmountParts/index.tsx
  src/modules/twap/pure/AmountParts/styled.tsx
  src/modules/twap/pure/DeadlineSelector/index.tsx
Labels: TWAP

#2668 Feature/twap analytics
  src/legacy/components/analytics/events/swapEvents.ts
  src/legacy/components/analytics/events/transactionEvents.ts
  src/legacy/components/analytics/types.ts
  src/legacy/state/swap/hooks.tsx
  src/modules/advancedOrders/hooks/useAdvancedOrdersActions.ts
  src/modules/limitOrders/containers/LimitOrdersWidget/hooks/useLimitOrdersWidgetActions.ts
  src/modules/limitOrders/services/tradeFlow/index.ts
  src/modules/swap/services/ethFlow/index.ts
  src/modules/swap/services/swapFlow/index.ts
  src/modules/trade/hooks/useSwitchTokensPlaces.ts
  src/modules/trade/utils/analytics.ts
  src/modules/twap/hooks/useCreateTwapOrder.ts
Labels: Analytics, TWAP

#2707 chore: update embedded widget codebase
  package.json
  src/common/constants/routes.ts
  src/common/containers/ImportTokenModal/index.tsx
  src/common/updaters/ThemeFromUrlUpdater/index.tsx
  src/common/utils/isInjectedWidget.ts
  src/legacy/components/AmplitudeAnalytics/index.ts
  src/legacy/components/Header/index.tsx
  src/legacy/components/Header/styled.tsx
  src/legacy/state/connection/reducer.ts
  src/legacy/state/orders/middleware/appziMiddleware.test.ts
  src/libs/widget-lib/README.md
  src/libs/widget-lib/project.json
  src/libs/widget-lib/src/consts.ts
  src/libs/widget-lib/src/cowSwapWidget.ts
  src/libs/widget-lib/src/demo/ProviderMode.ts
  src/libs/widget-lib/src/demo/Settings.ts
  src/libs/widget-lib/src/demo/index.html
  src/libs/widget-lib/src/demo/index.ts
  src/libs/widget-lib/src/types.ts
  src/libs/widget-lib/src/urlUtils.spec.ts
  src/libs/widget-lib/src/urlUtils.ts
  src/libs/widget-lib/src/utils.spec.ts
  src/libs/widget-lib/vite.config.ts
  src/modules/application/containers/App/RoutesApp.tsx
  src/modules/application/containers/App/Updaters.tsx
  src/modules/application/containers/App/index.tsx
  src/modules/application/containers/App/styled.ts
  src/modules/injectedWidget/hooks/useInjectedWidgetParams.ts
  src/modules/injectedWidget/index.ts
  src/modules/injectedWidget/state/injectedWidgetParamsAtom.ts
  src/modules/injectedWidget/updaters/InjectedWidgetUpdater.ts
  src/modules/mainMenu/pure/MenuTree/index.tsx
  src/modules/mainMenu/types.ts
  src/modules/mainMenu/utils.ts
  src/modules/trade/hooks/useTradeTypeInfo.ts
  src/modules/trade/utils/parameterizeTradeRoute.ts
  src/modules/wallet/api/types.ts
  src/modules/wallet/api/utils/connection.ts
  src/modules/wallet/web3-react/connection/index.tsx
  src/modules/wallet/web3-react/connection/injectedWidget.tsx
  src/modules/wallet/web3-react/connectors/Injected/IFrameEthereumProvider.ts
  src/modules/wallet/web3-react/connectors/Injected/index.tsx
  src/modules/wallet/web3-react/hooks/useEagerlyConnect.ts
  src/modules/wallet/web3-react/hooks/useOrderedConnections.ts
  yarn.lock
Labels: mono 🙈

#2672 feat(twap): display and confirm price impact
  src/common/hooks/useConfirmPriceImpactWithoutFee.ts
  src/legacy/hooks/usePriceImpact/index.ts
  src/modules/advancedOrders/containers/AdvancedOrdersWidget/index.tsx
  src/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/modules/limitOrders/hooks/useLimitOrdersPriceImpactParams.ts
  src/modules/trade/containers/TradeWidget/index.tsx
  src/modules/trade/hooks/useTradePriceImpact.ts
  src/modules/trade/hooks/useTradePriceImpactParams.ts
  src/modules/trade/index.ts
  src/modules/trade/pure/TradeConfirmation/styled.tsx
  src/modules/trade/state/priceImpactAtom.ts
  src/modules/trade/updaters/PriceImpactUpdater.tsx
  src/modules/twap/containers/ActionButtons/index.tsx
  src/modules/twap/containers/TwapConfirmModal/index.tsx
  src/modules/twap/containers/TwapFormWarnings/index.tsx
  src/modules/twap/containers/TwapFormWidget/index.tsx
  src/modules/twap/hooks/useCreateTwapOrder.ts
  src/modules/twap/hooks/useFallbackHandlerVerification.ts
  src/modules/twap/hooks/useTwapFormState.ts
  src/modules/twap/hooks/useTwapWarningsContext.ts
  src/modules/twap/pure/PrimaryActionButton/getTwapFormState.tsx
  src/modules/twap/pure/PrimaryActionButton/index.tsx
  src/modules/twap/state/fallbackHandlerVerificationAtom.ts
  src/modules/twap/state/twapOrdersSettingsAtom.ts
  src/modules/twap/updaters/FallbackHandlerVerificationUpdater.tsx
Labels: TWAP

#2749 chore: release hotfix/1.40.4
  package.json
  src/modules/wallet/api/pure/WalletModal/index.tsx
  src/modules/wallet/web3-react/connection/index.tsx
Labels: RELEASE

#2724 feat(twap): update ComposableCoW contract
  src/abis/ComposableCoW.json
  src/modules/advancedOrders/const.ts
  src/modules/twap/const.ts
  src/modules/twap/containers/TwapFormWidget/index.tsx
  src/modules/twap/hooks/useCreateTwapOrder.ts
  src/modules/twap/hooks/useTwapOrderCreationContext.ts
  src/modules/twap/services/__snapshots__/createTwapOrderTxs.test.ts.snap
  src/modules/twap/services/__snapshots__/extensibleFallbackSetupTxs.test.tsx.snap
  src/modules/twap/services/createTwapOrderTxs.test.ts
  src/modules/twap/services/createTwapOrderTxs.ts
  src/modules/twap/services/fetchTwapOrdersFromSafe.ts
  src/modules/twap/services/verifyExtensibleFallback.test.ts
  src/modules/twap/state/twapOrderAtom.ts
  src/modules/twap/types.ts
  src/modules/twap/updaters/TwapOrdersUpdater.tsx
  src/modules/twap/utils/parseTwapOrderStruct.ts
  src/modules/twap/utils/twapOrderToStruct.ts
Labels: TWAP

#2751 feat(hackathon-surplus): add surplus data to activity details
  package.json
  src/api/gnosisProtocol/api.ts
  src/api/gnosisProtocol/hooks.ts
  src/modules/account/containers/AccountDetails/SurplusCard.tsx
  src/modules/account/containers/AccountDetails/index.tsx
  src/utils/amountFormat/index.ts
  yarn.lock
Labels: hackathon

#2752 feat(hackathon-surplus): add new surplus modal when order filled
  src/common/pure/TransactionSubmittedContent/SurplusModal.tsx
  src/common/pure/TransactionSubmittedContent/index.tsx
  src/legacy/components/TransactionConfirmationModal/index.tsx
Labels: hackathon

#2730 fix(trade): display Price updated banner in Confirmation modal
  src/common/pure/InlineBanner/index.tsx
  src/legacy/components/swap/SwapModalHeader/SwapModalHeaderMod.tsx
  src/modules/trade/pure/PriceUpdatedBanner/index.tsx
  src/modules/trade/pure/TradeConfirmation/index.tsx
Labels: TWAP

#2728 fix(twap): disable selecting native token as sell currency
  src/modules/advancedOrders/containers/AdvancedOrdersWidget/index.tsx
  src/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/modules/trade/hooks/useDisableNativeTokenSelling.ts
Labels: TWAP

#2727 fix(twap): set correct token address when buy asset is native
  src/modules/twap/utils/twapOrderToStruct.ts
Labels: TWAP
