Repository cowprotocol/cowswap, pull requests merged in 2023-07, with the labels that each got.

#2600 feat: styling and tooltip/labels
  src/common/pure/CurrencyArrowSeparator/styled.tsx
  src/legacy/components/QuestionHelper/QuestionHelperMod.tsx
  src/legacy/components/QuestionHelper/index.tsx
  src/legacy/components/Tooltip/index.tsx
  src/modules/trade/containers/TradeWidget/styled.tsx
  src/modules/trade/pure/TradeSelect/index.tsx
  src/modules/trade/pure/TradeTextBox/index.tsx
  src/modules/trade/pure/TradeWidgetField/index.tsx
  src/modules/trade/pure/TradeWidgetField/styled.tsx
  src/modules/twap/containers/TwapFormWidget/index.tsx
  src/modules/twap/containers/TwapFormWidget/styled.tsx
  src/modules/twap/containers/TwapFormWidget/tooltips.tsx
  src/modules/twap/pure/AmountParts/index.tsx
  src/modules/twap/pure/AmountParts/styled.tsx
  src/modules/twap/pure/DeadlineSelector/index.tsx
Labels: TWAP

#2779 feat(hackathon-surplus): use prod backend when on prod
  src/api/gnosisProtocol/api.ts
Labels: hackathon

#2757 [1] fix(twap): display fallback handler banner when it's relevant
  src/common/containers/TradeApprove/TradeApproveButton.tsx
  src/common/pure/ApproveButton/index.tsx
  src/modules/tradeFormValidation/pure/TradeFormButtons/index.tsx
  src/modules/tradeFormValidation/pure/TradeFormButtons/tradeButtonsMap.tsx
  src/modules/twap/containers/ActionButtons/index.tsx
  src/modules/twap/containers/TwapFormWarnings/index.tsx
  src/modules/twap/containers/TwapFormWarnings/warnings/UnsupportedWalletWarning.tsx
  src/modules/twap/containers/TwapFormWidget/index.tsx
  src/modules/twap/hooks/useAreWarningsAccepted.ts
  src/modules/twap/hooks/useFallbackHandlerVerification.ts
  src/modules/twap/hooks/useTwapFormState.ts
  src/modules/twap/hooks/useTwapWarningsContext.ts
  src/modules/twap/pure/PrimaryActionButton/getTwapFormState.tsx
  src/modules/twap/pure/PrimaryActionButton/index.tsx
Labels: TWAP

#2759 [2] feat(twap): generate all part orders
  src/api/gnosisProtocol/hooks.ts
  src/common/types.ts
  src/modules/twap/containers/TwapFormWidget/index.tsx
  src/modules/twap/hooks/useFetchTwapPartOrders.ts
  src/modules/twap/state/twapPartOrdersAtom.ts
  src/modules/twap/updaters/PartOrdersUpdater.tsx
  src/modules/twap/updaters/TwapOrdersUpdater.tsx
  src/modules/twap/utils/buildTwapOrdersItems.ts
  src/modules/twap/utils/getTwapOrderStatus.ts
Labels: TWAP

#2773 feat(hackathon-surplus): show surplus modal when confirmation modal is closed
  src/common/containers/MultipleOrdersCancellationModal/index.tsx
  src/common/containers/ZeroApprovalModal/ZeroApprovalModal.tsx
  src/common/pure/CancellationModal/index.tsx
  src/common/pure/ConfirmationModal/ConfirmationModal.tsx
  src/common/pure/ConfirmationPendingContent/ConfirmationPendingContent.cosmos.tsx
  src/common/pure/ExpertModeModal/index.tsx
  src/common/pure/Modal/index.ts
  src/common/pure/Modal/index.tsx
  src/common/pure/Modal/styled.tsx
  src/common/pure/TransactionSubmittedContent/SurplusModal.tsx
  src/legacy/components/CowSubsidyModal/index.tsx
  src/legacy/components/SearchModal/CurrencySearchModal.tsx
  src/legacy/components/TokenWarningModal/index.tsx
  src/legacy/components/TransactionConfirmationModal/index.tsx
  src/legacy/components/swap/UnsupportedCurrencyFooter/UnsupportedCurrencyFooterMod.tsx
  src/legacy/hooks/useTransactionErrorModal.tsx
  src/legacy/state/index.ts
  src/legacy/state/orders/actions.ts
  src/legacy/state/orders/updaters/CancelledOrdersUpdater.ts
  src/legacy/state/orders/updaters/PendingOrdersUpdater.ts
  src/modules/account/pure/ConnectedAccountBlocked/index.tsx
  src/modules/limitOrders/pure/DeadlineSelector/index.tsx
  src/modules/ordersTable/pure/ReceiptModal/index.tsx
  src/modules/swap/containers/EthFlow/index.tsx
  src/modules/swap/containers/SurplusModalSetup/index.tsx
  src/modules/swap/containers/SwapModals/index.tsx
  src/modules/swap/pure/EthFlow/EthFlowModalContent/index.cosmos.tsx
  src/modules/swap/state/surplusModal.ts
  src/modules/trade/containers/TradeConfirmModal/index.tsx
  src/modules/trade/containers/WrapNativeModal/index.tsx
  src/modules/twap/pure/CustomDeadlineSelector/index.tsx
  src/modules/wallet/api/pure/WalletModal/index.tsx
Labels: hackathon

#2781 feat(hackathon-surplus): refresh surplus on swap trade
  src/api/gnosisProtocol/hooks.ts
  src/common/state/totalSurplusState/atoms.ts
  src/common/state/totalSurplusState/hooks.ts
  src/common/state/totalSurplusState/index.ts
  src/common/state/totalSurplusState/types.ts
  src/common/state/totalSurplusState/updaters.ts
  src/legacy/state/orders/updaters/PendingOrdersUpdater.ts
  src/modules/account/containers/AccountDetails/SurplusCard.tsx
  src/modules/application/containers/App/Updaters.tsx
Labels: hackathon

#2789 fix(trade): display unsupported token banner
  src/modules/tradeFormValidation/pure/TradeFormButtons/tradeButtonsMap.tsx
Labels: TWAP

#2761 [3] fix(twap): don't request singleOrders data for just mined orders
  src/modules/twap/services/fetchTwapOrdersFromSafe.ts
  src/modules/twap/types.ts
  src/modules/twap/updaters/TwapOrdersUpdater.tsx
Labels: TWAP

#2763 [4] feat(twap): display all TWAP parts in orders table
  src/api/gnosisProtocol/hooks.ts
  src/common/types.ts
  src/legacy/state/orders/actions.ts
  src/legacy/state/orders/hooks.ts
  src/legacy/state/orders/reducer.ts
  src/legacy/state/orders/updaters/GpOrdersUpdater.ts
  src/legacy/state/orders/updaters/utils.ts
  src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/index.tsx
  src/modules/ordersTable/pure/OrdersTableContainer/OrdersTable.tsx
  src/modules/twap/state/emulatedPartOrdersAtom.ts
  src/modules/twap/state/twapOrdersListAtom.ts
  src/utils/orderUtils/parseOrder.ts
Labels: TWAP

#2685 feat(twap): order defaults
  src/modules/trade/pure/TradeNumberInput/index.tsx
  src/modules/twap/const.ts
  src/modules/twap/containers/TwapFormWidget/index.tsx
  src/modules/twap/state/partsStateAtom.ts
  src/modules/twap/state/twapOrdersSettingsAtom.ts
Labels: TWAP

#2788 fix: display relevant link in Order Submitted modal
  src/common/pure/OrderSubmittedContent/index.cosmos.tsx
  src/common/pure/OrderSubmittedContent/index.tsx
  src/legacy/components/EnhancedTransactionLink/index.tsx
  src/modules/trade/containers/TradeConfirmModal/index.tsx
  src/pages/Claim/ClaimingStatus.tsx
Labels: TWAP

#2778 feat(twap): pass order class and slippage to app-data
  package.json
  src/legacy/state/swap/hooks.tsx
  src/modules/appData/types.tsx
  src/modules/appData/updater/AppDataInfoUpdater.tsx
  src/modules/appData/updater/useAppDataUpdater.ts
  src/modules/appData/utils/buildAppData.ts
  src/modules/application/containers/App/Updaters.tsx
  src/modules/limitOrders/index.ts
  src/modules/swap/hooks/useSwapSlippage.ts
  src/modules/twap/containers/TwapConfirmModal/index.tsx
  src/modules/twap/containers/TwapFormWidget/index.tsx
  src/modules/twap/hooks/useCreateTwapOrder.ts
  src/modules/twap/state/twapOrderAtom.ts
  src/modules/twap/state/twapOrdersSettingsAtom.ts
  src/pages/LimitOrders/index.tsx
  src/pages/Swap/index.tsx
  yarn.lock
Labels: TWAP

#2774 feat(trade): generalise wrap/unwrap flow for all trade widgets
  src/modules/advancedOrders/containers/AdvancedOrdersWidget/index.tsx
  src/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/modules/limitOrders/containers/LimitOrdersWidget/limitOrdersPropsChecker.ts
  src/modules/swap/containers/SwapWidget/index.tsx
  src/modules/swap/state/useSwapDerivedState.ts
  src/modules/trade/containers/TradeWidget/index.tsx
  src/modules/trade/containers/WrapFlowActionButton/index.tsx
  src/modules/tradeFormValidation/pure/TradeFormButtons/index.tsx
  src/modules/tradeFormValidation/services/validateTradeForm.ts
  src/pages/AdvancedOrders/index.tsx
  src/pages/LimitOrders/index.tsx
Labels: TWAP

#2764 [5] feat(twap): calculate and display TWAP orders execution info
  src/api/gnosisProtocol/hooks.ts
  src/modules/ordersTable/pure/OrderStatusBox/index.tsx
  src/modules/twap/const.ts
  src/modules/twap/hooks/useCreateTwapOrder.ts
  src/modules/twap/hooks/useTwapOrderById.ts
  src/modules/twap/hooks/useTwapOrdersExecutions.ts
  src/modules/twap/hooks/useTwapWarningsContext.ts
  src/modules/twap/state/emulatedPartOrdersAtom.ts
  src/modules/twap/state/emulatedTwapOrdersAtom.ts
  src/modules/twap/state/twapOrdersListAtom.ts
  src/modules/twap/state/twapPartOrdersAtom.ts
  src/modules/twap/types.ts
  src/modules/twap/updaters/PartOrdersUpdater.tsx
  src/modules/twap/updaters/TwapOrdersUpdater.tsx
  src/modules/twap/utils/buildTwapOrdersItems.ts
  src/modules/twap/utils/emulateTwapAsOrder.ts
  src/modules/twap/utils/getTwapOrderStatus.ts
  src/modules/twap/utils/isTwapOrderFulfilled.ts
  src/modules/twap/utils/updateTwapOrdersList.ts
Labels: TWAP

#2798 fix: total time values dropdown
  src/modules/twap/const.ts
Labels: TWAP

#2777 feat: add missing TWAP events and some fortune cookies
  src/legacy/components/analytics/events/cowFortune.ts
  src/legacy/components/analytics/events/twapEvents.ts
  src/legacy/components/analytics/index.ts
  src/legacy/components/analytics/types.ts
  src/modules/application/containers/TradeWidgetLinks/index.tsx
  src/modules/fortune/containers/FortuneWidget/index.tsx
  src/modules/twap/containers/ActionButtons/index.tsx
  src/modules/twap/containers/TwapFormWarnings/index.tsx
  src/modules/twap/containers/TwapFormWidget/index.tsx
  src/modules/twap/hooks/useCreateTwapOrder.ts
  src/modules/twap/hooks/useFallbackHandlerVerification.ts
Labels: TWAP

#2797 feat(twap): refactor and wire price protection
  src/common/pure/ExecutionPrice/index.tsx
  src/common/pure/RateInfo/index.tsx
  src/modules/trade/pure/TradeNumberInput/index.tsx
  src/modules/trade/pure/TradeWidgetField/index.tsx
  src/modules/trade/pure/TradeWidgetField/styled.tsx
  src/modules/twap/containers/TwapFormWidget/index.tsx
  src/modules/twap/containers/TwapFormWidget/tooltips.tsx
  src/modules/twap/state/twapOrderAtom.ts
Labels: TWAP

#2805 feat(twap): disable confirm button when form validation fails
  src/modules/twap/containers/TwapConfirmModal/index.tsx
  src/modules/twap/containers/TwapFormWarnings/index.tsx
Labels: TWAP

#2807 feat(twap): review button label on limit
  src/modules/limitOrders/containers/LimitOrdersConfirmModal/index.tsx
  src/modules/limitOrders/containers/TradeButtons/index.tsx
  src/modules/trade/pure/TradeConfirmation/index.tsx
  src/modules/twap/containers/TwapConfirmModal/index.tsx
Labels: TWAP

#2804 feat(twap): do not show est. exec. price for twap parent orders
  src/legacy/state/orders/updaters/UnfillableOrdersUpdater.ts
  src/legacy/state/orders/utils.ts
  src/modules/orders/state/pendingOrdersPricesAtom.ts
  src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/index.tsx
Labels: TWAP

#2803 feat(twap): add TWAP unlock screen
  src/modules/advancedOrders/containers/AdvancedOrdersWidget/index.tsx
  src/modules/advancedOrders/hooks/useAdvancedOrdersDerivedState.ts
  src/modules/advancedOrders/state/advancedOrdersAtom.ts
  src/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/modules/limitOrders/pure/UnlockLimitOrders/index.tsx
  src/modules/trade/pure/UnlockWidgetScreen/index.tsx
  src/modules/trade/pure/UnlockWidgetScreen/styled.ts
  src/pages/AdvancedOrders/index.tsx
Labels: TWAP

#2770 fix(orders-table): display fulfilled status before cancelling
  src/common/pure/SafeWalletLink/index.tsx
  src/common/types.ts
  src/legacy/state/claim/middleware.ts
  src/legacy/state/orders/actions.ts
  src/legacy/state/orders/helpers.tsx
  src/legacy/state/orders/hooks.ts
  src/legacy/state/orders/middleware/updateOrderPopup.ts
  src/legacy/state/orders/reducer.ts
  src/legacy/state/orders/updaters/GpOrdersUpdater.ts
  src/legacy/state/orders/updaters/utils.ts
  src/legacy/utils/trade.ts
  src/modules/ordersTable/pure/OrderStatusBox/index.tsx
  src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/index.tsx
  src/modules/swap/hooks/useHandleSwap.test.tsx
  src/modules/twap/const.ts
  src/modules/twap/hooks/useCancelTwapOrder.ts
  src/modules/twap/hooks/useCreateTwapOrder.ts
  src/modules/twap/state/emulatedPartOrdersAtom.ts
  src/modules/twap/state/emulatedTwapOrdersAtom.ts
  src/modules/twap/state/twapOrdersListAtom.ts
  src/modules/twap/types.ts
  src/modules/twap/updaters/TwapOrdersUpdater.tsx
  src/modules/twap/utils/buildTwapOrdersItems.ts
  src/modules/twap/utils/emulateTwapAsOrder.ts
  src/modules/twap/utils/updateTwapOrdersList.ts
Labels: TWAP

#2811 fix(surplus-pending-swap-buy-receipt): fix receipt for pending buy swap orders
  src/utils/orderUtils/getOrderSurplus.ts
Labels: TWAP

#2806 feat(twap): display order id on receipt for twap part orders
  src/modules/ordersTable/pure/ReceiptModal/index.tsx
Labels: TWAP

#2815 fix(twap): hide learn more link
  src/modules/advancedOrders/containers/AdvancedOrdersWidget/index.tsx
  src/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/modules/trade/pure/UnlockWidgetScreen/index.tsx
  src/modules/trade/pure/UnlockWidgetScreen/styled.ts
Labels: TWAP

#2819 feat(twap): reset USDT allowance
  src/common/hooks/useNeedsZeroApproval.ts
  src/modules/twap/containers/TwapFormWarnings/index.tsx
  src/modules/twap/hooks/useTwapOrderCreationContext.ts
  src/modules/twap/services/__snapshots__/createTwapOrderTxs.test.ts.snap
  src/modules/twap/services/createTwapOrderTxs.test.ts
  src/modules/twap/services/createTwapOrderTxs.ts
Labels: TWAP

#2820 feat(wallet-connect): add env for specifying the WC v1 bridge
  .env
  .env.production
  .github/workflows/vercel.yml
  README.md
  src/modules/wallet/web3-react/connection/walletConnect.tsx
Labels: RELEASE

#2827 Hotfix/1.40.6
  .env
  .env.production
  .github/workflows/vercel.yml
  README.md
  src/common/pure/OrderSubmittedContent/index.tsx
  src/legacy/components/AddressInputPanel/index.tsx
  src/legacy/components/ExplorerLink/index.tsx
  src/legacy/components/Popups/TransactionPopupMod.tsx
  src/legacy/components/SearchModal/ImportToken/index.tsx
  src/legacy/components/SearchModal/ManageTokens/ManageTokensMod.tsx
  src/legacy/components/SearchModal/TokenImportCard/TokenImportCardMod.tsx
  src/legacy/components/Tokens/TokensTableRow.tsx
  src/legacy/components/TransactionConfirmationModal/DisplayLink.tsx
  src/legacy/components/Version/index.tsx
  src/legacy/components/swap/UnsupportedCurrencyFooter/UnsupportedCurrencyFooterMod.tsx
  src/legacy/constants/index.ts
  src/legacy/hooks/useActivityDerivedState.ts
  src/legacy/utils/index.ts
  src/modules/account/containers/AccountDetails/index.tsx
  src/modules/mainMenu/constants/mainMenu.tsx
  src/modules/mainMenu/pure/MenuTree/index.tsx
  src/modules/mainMenu/types.ts
  src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/index.tsx
  src/modules/ordersTable/pure/ReceiptModal/IdField.tsx
  src/modules/utm/hooks.ts
  src/modules/wallet/web3-react/connection/walletConnect.tsx
  src/pages/Account/Balances.tsx
  src/pages/Account/LockedGnoVesting/index.tsx
Labels: RELEASE

#2835 fix(twap): fix slippage value crash
  src/modules/twap/containers/TwapFormWidget/index.tsx
  src/modules/twap/state/twapOrdersSettingsAtom.ts
Labels: TWAP

#2833 feat(hackathon-surplus): do not show 0 surplus
  src/modules/account/containers/AccountDetails/SurplusCard.tsx
Labels: RELEASE, hackathon

#2831 feat(hackathon-surplus): add tooltip for activity modal surplus
  src/modules/account/containers/AccountDetails/SurplusCard.tsx
Labels: RELEASE, hackathon

#2845 feat(hackathon-surplus): add missing link to surplus modal
  src/common/pure/TransactionSubmittedContent/SurplusModal.tsx
Labels: RELEASE, hackathon

#2843 feat(twap): add missing tooltips
  src/modules/ordersTable/pure/ReceiptModal/fields/SafeTxFields.tsx
  src/modules/trade/containers/TradeBasicConfirmDetails/LimitPriceRow.tsx
  src/modules/trade/containers/TradeBasicConfirmDetails/index.tsx
  src/modules/trade/pure/ConfirmDetailsItem/index.tsx
  src/modules/trade/pure/ReviewOrderModalAmountRow/index.tsx
  src/modules/twap/containers/TwapConfirmModal/TwapConfirmDetails.tsx
  src/modules/twap/containers/TwapConfirmModal/index.tsx
Labels: TWAP

#2864 fix(twap): avoid sending `env` as `undefined` to getOrder query
  src/api/gnosisProtocol/api.ts
Labels: RELEASE

#2857 feat(hackathon-surplus): do not show modal when too small amounts
  src/common/hooks/useGetSurplusFiatValue.ts
  src/common/pure/TransactionSubmittedContent/SurplusModal.tsx
  src/common/pure/TransactionSubmittedContent/index.tsx
  src/legacy/components/TransactionConfirmationModal/index.tsx
  src/legacy/constants/index.ts
  src/modules/swap/containers/SurplusModalSetup/index.tsx
  src/utils/getExecutedSummaryData.ts
  src/utils/orderUtils/parseOrder.ts
Labels: RELEASE, hackathon

#2873 chore(main): release 1.41.0
  CHANGELOG.md
  package.json
Labels: autorelease: pending

#2882 chore(pixel-resilience): remove test
  src/legacy/components/analytics/pixel/constants.ts
Labels: RELEASE

#2886 feat(twap): add recipientAddress to trade state
  src/legacy/state/swap/actions.ts
  src/legacy/state/swap/hooks.tsx
  src/legacy/state/swap/reducer.ts
  src/modules/advancedOrders/containers/AdvancedOrdersWidget/index.tsx
  src/modules/advancedOrders/hooks/useAdvancedOrdersDerivedState.ts
  src/modules/advancedOrders/state/advancedOrdersAtom.ts
  src/modules/advancedOrders/updaters/RecipientUpdater.tsx
  src/modules/limitOrders/hooks/useTradeFlowContext.ts
  src/modules/swap/hooks/useSwapRawState.ts
  src/modules/swap/state/useSwapDerivedState.ts
  src/modules/trade/containers/TradeWidget/index.tsx
  src/modules/trade/hooks/setupTradeState/useTradeStateFromUrl.ts
  src/modules/trade/hooks/useBuildTradeDerivedState.ts
  src/modules/trade/types/TradeDerivedState.ts
  src/modules/trade/types/TradeRawState.ts
  src/modules/trade/updaters/RecipientAddressUpdater.tsx
Labels: TWAP

#2877 feat(twap): add recipient to advanced orders
  src/legacy/state/swap/actions.ts
  src/legacy/state/swap/hooks.tsx
  src/legacy/state/swap/reducer.ts
  src/modules/advancedOrders/containers/AdvancedOrdersSettings/index.tsx
  src/modules/advancedOrders/containers/AdvancedOrdersWidget/index.tsx
  src/modules/advancedOrders/hooks/useAdvancedOrdersActions.ts
  src/modules/advancedOrders/pure/Settings/index.tsx
  src/modules/advancedOrders/state/advancedOrdersSettingsAtom.ts
  src/modules/limitOrders/containers/SettingsWidget/index.tsx
  src/modules/limitOrders/hooks/useTradeFlowContext.ts
  src/modules/limitOrders/pure/Settings/index.tsx
  src/modules/swap/hooks/useSwapRawState.ts
  src/modules/swap/state/useSwapDerivedState.ts
  src/modules/trade/containers/TradeWidget/index.tsx
  src/modules/trade/hooks/setupTradeState/useTradeStateFromUrl.ts
  src/modules/trade/hooks/useBuildTradeDerivedState.ts
  src/modules/trade/pure/Settings/SettingsBox.tsx
  src/modules/trade/pure/Settings/index.tsx
  src/modules/trade/pure/Settings/styled.ts
  src/modules/trade/types/TradeDerivedState.ts
  src/modules/trade/types/TradeRawState.ts
  src/modules/trade/updaters/RecipientAddressUpdater.tsx
  src/modules/twap/containers/TwapConfirmModal/TwapConfirmDetails.tsx
  src/modules/twap/hooks/useCreateTwapOrder.ts
  src/modules/twap/state/twapOrderAtom.ts
Labels: TWAP

#2866 [1] feat(twap): display orders grouping
  src/api/gnosisProtocol/hooks.ts
  src/common/types.ts
  src/legacy/hooks/useRecentActivity.ts
  src/legacy/state/orders/hooks.ts
  src/legacy/state/orders/updaters/GpOrdersUpdater.ts
  src/modules/ordersTable/containers/OrdersTableWidget/index.tsx
  src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/index.tsx
  src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/styled.tsx
  src/modules/ordersTable/pure/OrdersTableContainer/styled.tsx
  src/modules/ordersTable/pure/ReceiptModal/index.tsx
  src/modules/twap/const.ts
  src/modules/twap/hooks/useCancelTwapOrder.ts
  src/modules/twap/hooks/useTwapDiscreteOrders.ts
  src/modules/twap/index.ts
  src/modules/twap/state/emulatedPartOrdersAtom.ts
  src/modules/twap/state/emulatedTwapOrdersAtom.ts
  src/modules/twap/state/twapOrdersListAtom.ts
  src/modules/twap/types.ts
  src/modules/twap/updaters/TwapOrdersUpdater.tsx
  src/modules/twap/utils/buildTwapOrdersItems.ts
  src/modules/twap/utils/emulateTwapAsOrder.ts
  src/modules/twap/utils/getTwapOrderStatus.ts
  src/pages/AdvancedOrders/index.tsx
Labels: TWAP

#2876 refactor(twap): don't add virtual TWAP orders to the common orders store
  src/api/gnosisProtocol/hooks.ts
  src/common/hooks/useCancelOrder/useGetOnChainCancellation.ts
  src/common/types.ts
  src/legacy/state/orders/reducer.ts
  src/legacy/state/orders/updaters/GpOrdersUpdater.ts
  src/legacy/state/orders/updaters/utils.ts
  src/legacy/state/orders/utils.ts
  src/modules/orders/hooks/useApiOrders.ts
  src/modules/orders/hooks/useSWROrdersRequest.ts
  src/modules/orders/hooks/useSWRProdOrders.ts
  src/modules/orders/state/apiOrdersAtom.ts
  src/modules/ordersTable/containers/OrdersTableWidget/index.tsx
  src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/index.tsx
  src/modules/tokens/hooks/useBalancesAndAllowances.ts
  src/modules/tokensList/utils/getTokensByAddress.ts
  src/modules/twap/hooks/useCancelTwapOrder.ts
  src/modules/twap/hooks/useEmulatedOrders.ts
  src/modules/twap/index.ts
  src/modules/twap/state/emulatedPartOrdersAtom.ts
  src/modules/twap/state/emulatedTwapOrdersAtom.ts
  src/modules/twap/state/twapOrdersListAtom.ts
  src/modules/twap/state/twapPartOrdersAtom.ts
  src/modules/twap/updaters/CreatedInOrderBookOrdersUpdater.tsx
  src/modules/twap/updaters/PartOrdersUpdater.tsx
  src/modules/twap/updaters/TwapOrdersUpdater.tsx
  src/modules/twap/utils/emulatePartAsOrder.ts
  src/modules/twap/utils/getIsLastPartOrder.ts
  src/modules/twap/utils/getPartOrderStatus.ts
  src/modules/twap/utils/getTwapOrderStatus.ts
  src/modules/twap/utils/mapPartOrderToStoreOrder.ts
  src/pages/AdvancedOrders/index.tsx
  src/utils/orderUtils/calculatePriceDifference.ts
  src/utils/orderUtils/getIsComposableCowDiscreteOrder.ts
  src/utils/orderUtils/getIsNotComposableCowOrder.ts
  src/utils/orderUtils/getIsTheLastTwapPart.ts
Labels: TWAP

#2872 feat(twap): tooltips try2
  src/modules/swap/containers/Row/RowSlippage/index.tsx
  src/modules/swap/pure/Row/RowSlippageContent/index.tsx
  src/modules/trade/containers/TradeBasicConfirmDetails/LimitPriceRow.tsx
  src/modules/trade/containers/TradeBasicConfirmDetails/SlippageRow.tsx
  src/modules/trade/containers/TradeBasicConfirmDetails/index.tsx
  src/modules/twap/containers/TwapConfirmModal/index.tsx
  src/modules/twap/containers/TwapFormWidget/tooltips.tsx
Labels: TWAP

#2859 fix(orders-storage): clear orders storage on unmount
  src/legacy/state/orders/actions.ts
  src/legacy/state/orders/consts.ts
  src/legacy/state/orders/hooks.ts
  src/legacy/state/orders/reducer.ts
  src/legacy/state/orders/updaters/GpOrdersUpdater.ts
Labels: Bug

#2885 feat(twap): scheduled order warnings
  src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/index.tsx
Labels: TWAP

#2897 fix(twap): increase max slippage up to 100%
  src/modules/twap/const.ts
  src/modules/twap/containers/TwapFormWidget/index.tsx
Labels: TWAP

#2884 feat(twap): expand/collapse twap order table
  src/common/pure/Modal/styled.tsx
  src/legacy/hooks/useRecentActivity.ts
  src/legacy/state/orders/hooks.ts
  src/legacy/state/orders/reducer.ts
  src/modules/advancedOrders/containers/AdvancedOrdersWidget/index.tsx
  src/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  src/modules/ordersTable/containers/OrdersTableWidget/hooks/useOrdersTableList.ts
  src/modules/ordersTable/containers/OrdersTableWidget/index.tsx
  src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/index.tsx
  src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/styled.tsx
  src/modules/ordersTable/pure/OrdersTableContainer/OrdersTable.tsx
  src/modules/ordersTable/pure/OrdersTableContainer/OrdersTablePagination.tsx
  src/modules/ordersTable/pure/OrdersTableContainer/TableGroup.tsx
  src/modules/ordersTable/pure/OrdersTableContainer/styled.tsx
  src/modules/ordersTable/utils/groupOrdersTable.ts
  src/modules/ordersTable/utils/orderTableGroupUtils.ts
  src/modules/trade/pure/UnlockWidgetScreen/index.tsx
  src/modules/twap/hooks/useCreateTwapOrder.ts
  src/modules/twap/hooks/useTwapOrdersExecutions.ts
  src/modules/twap/types.ts
  src/modules/twap/utils/buildTwapOrdersItems.ts
  src/modules/twap/utils/emulateTwapAsOrder.ts
  src/modules/twap/utils/getPartOrderStatus.ts
  src/modules/twap/utils/getTwapOrderStatus.ts
  src/modules/twap/utils/mapPartOrderToStoreOrder.ts
  src/utils/orderUtils/getComposableCowParentId.ts
  src/utils/orderUtils/ordersSorter.ts
Labels: TWAP

#2902 chore(main): release 1.42.0
  CHANGELOG.md
  package.json
Labels: autorelease: pending

#2903 fix(twap): don't mix twap states between browser tabs
  CHANGELOG.md
  package.json
  src/modules/twap/state/twapOrdersListAtom.ts
  src/modules/twap/state/twapPartOrdersAtom.ts
Labels: TWAP

#2905 chore(main): release 1.42.0
  CHANGELOG.md
  package.json
Labels: autorelease: pending

#2909 chore(main): release 1.42.0
  CHANGELOG.md
  package.json
Labels: autorelease: pending

#2875 feat: style suspense loader
  src/legacy/components/FlashingLoading/index.tsx
Labels: twap-1.43

#2904 feat(twap): add recipient to summary in cancel modal
  src/common/pure/CancellationModal/RequestCancellationModal.tsx
  src/legacy/state/orders/updaters/utils.ts
  src/modules/twap/utils/emulateTwapAsOrder.ts
Labels: TWAP

#2901 feat: split swap/limit/advanced orders tables
  src/common/hooks/useCategorizeRecentActivity.ts
  src/legacy/hooks/useRecentActivity.ts
  src/legacy/state/enhancedTransactions/hooks/TransactionHooksMod.tsx
  src/legacy/state/orders/hooks.ts
  src/legacy/state/orders/updaters/SpotPricesUpdater.ts
  src/legacy/state/orders/updaters/UnfillableOrdersUpdater.ts
  src/modules/ordersTable/containers/OrdersTableWidget/index.tsx
  src/modules/ordersTable/utils/groupOrdersTable.ts
  src/modules/twap/hooks/useEmulatedOrders.ts
  src/pages/AdvancedOrders/index.tsx
  src/pages/LimitOrders/index.tsx
Labels: TWAP

#2915 feat(TWAP): update content based on orders type
  src/modules/ordersTable/containers/OrdersTableWidget/index.tsx
  src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/index.tsx
  src/modules/ordersTable/pure/OrdersTableContainer/OrdersTable.tsx
  src/modules/ordersTable/pure/OrdersTableContainer/TableGroup.tsx
  src/modules/ordersTable/pure/OrdersTableContainer/index.cosmos.tsx
  src/modules/ordersTable/pure/OrdersTableContainer/index.tsx
  src/modules/ordersTable/pure/OrdersTableContainer/types.ts
  src/pages/AdvancedOrders/index.tsx
  src/pages/LimitOrders/index.tsx
Labels: TWAP

#2918 feat(TWAP): handle TWAP errors
  src/modules/twap/hooks/useCreateTwapOrder.ts
  src/modules/twap/utils/parseTwapError.ts
Labels: TWAP

#2920 feat(twap): small price protection warning
  src/modules/twap/containers/TwapFormWarnings/index.tsx
  src/modules/twap/containers/TwapFormWarnings/warnings/SmallPriceProtectionWarning.tsx
  src/modules/twap/state/twapOrderAtom.ts
  src/modules/twap/utils/isPriceProtectionNotEnough.ts
Labels: TWAP

#2914 feat(twap): display popup when order is cancelled
  src/common/hooks/useCancelOrder/useSendOnChainCancellation.ts
  src/legacy/state/enhancedTransactions/updater/FinalizeTxUpdater.tsx
  src/legacy/state/index.ts
  src/legacy/state/orders/hooks.ts
  src/legacy/state/orders/middleware/batchCancelOrdersPopup.test.ts
  src/legacy/state/orders/middleware/batchCancelOrdersPopup.ts
  src/legacy/state/orders/middleware/composableOrdersPopupMiddleware.ts
  src/legacy/state/orders/middleware/index.ts
  src/legacy/state/orders/middleware/popupMiddleware.test.ts
  src/legacy/state/orders/middleware/popupMiddleware.ts
  src/legacy/state/orders/reducer.ts
  src/legacy/state/orders/utils.ts
  src/modules/advancedOrders/containers/AdvancedOrdersWidget/index.tsx
  src/modules/orders/utils/flatOrdersStateNetwork.ts
  src/modules/twap/containers/TwapFormWidget/index.tsx
  src/modules/twap/hooks/useCancelTwapOrder.ts
  src/modules/twap/hooks/useSetPartOrderCancelling.ts
  src/modules/twap/index.ts
  src/modules/twap/state/emulatedTwapOrdersAtom.ts
  src/modules/twap/state/twapOrdersListAtom.ts
  src/modules/twap/state/twapPartOrdersAtom.ts
  src/modules/twap/updaters/CreatedInOrderBookOrdersUpdater.tsx
  src/modules/twap/updaters/PartOrdersUpdater.tsx
  src/modules/twap/updaters/QuoteParamsUpdater.ts
  src/modules/twap/utils/getPartOrderStatus.ts
  src/modules/twap/utils/mapPartOrderToStoreOrder.ts
  src/modules/twap/utils/mapTwapOrderToStoreOrder.ts
Labels: TWAP

#2930 feat(analytics): add new dimension for market tracking
  src/common/hooks/useCancelOrder/useSendOnChainCancellation.test.ts
  src/legacy/components/analytics/hooks/useAnalyticsReporter.ts
  src/legacy/components/analytics/hooks/useGetMarketDimension.ts
  src/legacy/components/analytics/provider/index.ts
  src/legacy/components/analytics/types.ts
  src/legacy/state/orders/middleware/batchCancelOrdersPopup.ts
  src/legacy/state/orders/middleware/batchExpireOrdersPopup.ts
  src/legacy/state/orders/middleware/batchFulfillOrderPopup.tsx
  src/legacy/state/orders/middleware/updateOrderPopup.ts
  src/legacy/state/swap/hooks.test.ts
  src/modules/limitOrders/hooks/useHandleOrderPlacement.test.ts
  src/modules/swap/hooks/useHandleSwap.test.tsx
Labels: RELEASE, Analytics

#2937 chore(main): release 1.43.0
  CHANGELOG.md
  package.json
Labels: autorelease: pending

#2943 refactor(twap): disable twap settings localStorage persisting between all tabs
  src/modules/twap/state/twapOrdersSettingsAtom.ts
Labels: TWAP

#2932 feat(twap): display banner with swap amount difference
  src/common/pure/InlineBanner/index.tsx
  src/common/pure/TokenAmount/index.tsx
  src/modules/tradeQuote/hooks/useQuoteParams.ts
  src/modules/tradeQuote/hooks/useSetTradeQuoteParams.ts
  src/modules/tradeQuote/hooks/useTradeQuoteFeeFiatAmount.ts
  src/modules/tradeQuote/hooks/useTradeQuotePolling.ts
  src/modules/tradeQuote/index.ts
  src/modules/tradeQuote/state/tradeQuoteParamsAtom.ts
  src/modules/twap/containers/TwapFormWarnings/index.tsx
  src/modules/twap/containers/TwapFormWarnings/warnings/SwapPriceDifferenceWarning.tsx
  src/modules/twap/containers/TwapFormWidget/index.tsx
  src/modules/twap/state/fullAmountQuoteAtom.ts
  src/modules/twap/state/swapAmountDifferenceAtom.ts
  src/modules/twap/updaters/FullAmountQuoteUpdater.tsx
Labels: TWAP

#2946 feat(twap): display Creating... for Scheduled orders when it's supposed to be created already
  src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/index.tsx
Labels: TWAP

#2948 feat(twap): display order group in history tab
  src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/index.tsx
  src/modules/ordersTable/utils/groupOrdersTable.ts
  src/modules/twap/state/emulatedPartOrdersAtom.ts
  src/modules/twap/state/emulatedTwapOrdersAtom.ts
  src/modules/twap/state/twapOrdersListAtom.ts
Labels: RELEASE, TWAP

#2961 fix(swap): use symbol instead of address for native tokens
  src/legacy/state/price/updater.ts
  src/legacy/state/swap/hooks.tsx
Labels: RELEASE

#2952 fix(twap): display actual value for num of parts and custom deadline
  src/common/constants/common.ts
  src/common/pure/CowSwapSafeAppLink/index.tsx
  src/common/pure/InlineBanner/banners.tsx
  src/common/pure/Modal/index.tsx
  src/common/pure/Modal/styled.tsx
  src/legacy/components/NumericalInput/index.tsx
  src/legacy/state/orders/updaters/utils.ts
  src/modules/ordersTable/containers/OrdersTableWidget/index.tsx
  src/modules/ordersTable/pure/OrdersTableContainer/index.cosmos.tsx
  src/modules/ordersTable/pure/OrdersTableContainer/index.tsx
  src/modules/trade/pure/TradeNumberInput/index.tsx
  src/modules/twap/const.ts
  src/modules/twap/containers/TwapFormWarnings/warnings/UnsupportedWalletWarning.tsx
  src/modules/twap/containers/TwapFormWidget/index.tsx
  src/modules/twap/hooks/useEmulatedOrders.ts
  src/modules/twap/pure/CustomDeadlineSelector/index.tsx
  src/pages/AdvancedOrders/index.tsx
  src/pages/LimitOrders/index.tsx
Labels: RELEASE, TWAP
