Repository cowprotocol/cowswap, pull requests merged in 2023-10, with the labels that each got.

#3174 feat(tokens): new UI for tokens management
  apps/cowswap-frontend/src/legacy/components/SearchModal/ManageLists/ManageListsMod.tsx
  apps/cowswap-frontend/src/legacy/components/Settings/SettingsMod.tsx
  apps/cowswap-frontend/src/legacy/components/Toggle/index.tsx
  apps/cowswap-frontend/src/modules/tokensList/containers/ManageLists/index.cosmos.tsx
  apps/cowswap-frontend/src/modules/tokensList/containers/ManageLists/index.tsx
  apps/cowswap-frontend/src/modules/tokensList/containers/ManageLists/styled.ts
  apps/cowswap-frontend/src/modules/tokensList/containers/ManageListsAndTokens/index.cosmos.tsx
  apps/cowswap-frontend/src/modules/tokensList/containers/ManageListsAndTokens/index.tsx
  apps/cowswap-frontend/src/modules/tokensList/containers/ManageListsAndTokens/styled.ts
  apps/cowswap-frontend/src/modules/tokensList/containers/ManageTokens/index.tsx
  apps/cowswap-frontend/src/modules/tokensList/containers/ManageTokens/styled.ts
  apps/cowswap-frontend/src/modules/tokensList/containers/SelectTokenModal/index.cosmos.tsx
  apps/cowswap-frontend/src/modules/tokensList/containers/SelectTokenModal/index.tsx
  apps/cowswap-frontend/src/modules/tokensList/containers/SelectTokenModal/searchToken.ts
  apps/cowswap-frontend/src/modules/tokensList/containers/SelectTokenModal/styled.ts
  apps/cowswap-frontend/src/modules/tokensList/mocks.ts
  apps/cowswap-frontend/src/modules/tokensList/pure/AllTokensList/index.tsx
  apps/cowswap-frontend/src/modules/tokensList/pure/AllTokensList/styled.ts
  apps/cowswap-frontend/src/modules/tokensList/pure/ImportListModal/index.cosmos.tsx
  apps/cowswap-frontend/src/modules/tokensList/pure/ImportListModal/index.tsx
  apps/cowswap-frontend/src/modules/tokensList/pure/ImportListModal/styled.ts
  apps/cowswap-frontend/src/modules/tokensList/pure/ImportTokenItem/index.tsx
  apps/cowswap-frontend/src/modules/tokensList/pure/ImportTokenItem/styled.ts
  apps/cowswap-frontend/src/modules/tokensList/pure/ImportTokenListItem/index.tsx
  apps/cowswap-frontend/src/modules/tokensList/pure/ImportTokenListItem/styled.ts
  apps/cowswap-frontend/src/modules/tokensList/pure/ImportTokenModal/index.cosmos.tsx
  apps/cowswap-frontend/src/modules/tokensList/pure/ImportTokenModal/index.tsx
  apps/cowswap-frontend/src/modules/tokensList/pure/ImportTokenModal/styled.ts
  apps/cowswap-frontend/src/modules/tokensList/pure/LoadedTokenListItem/index.tsx
  apps/cowswap-frontend/src/modules/tokensList/pure/LoadedTokenListItem/styled.ts
  apps/cowswap-frontend/src/modules/tokensList/pure/ModalHeader/index.tsx
  apps/cowswap-frontend/src/modules/tokensList/pure/TokenInfo/index.tsx
  apps/cowswap-frontend/src/modules/tokensList/pure/TokenInfo/styled.ts
  apps/cowswap-frontend/src/modules/tokensList/pure/TokenListInfo/index.tsx
  apps/cowswap-frontend/src/modules/tokensList/pure/TokenListInfo/styled.ts
  apps/cowswap-frontend/src/modules/tokensList/pure/TokenListItem/index.tsx
  apps/cowswap-frontend/src/modules/tokensList/pure/TokenListItem/styled.ts
  apps/cowswap-frontend/src/modules/tokensList/pure/TokenLogo/index.tsx
  apps/cowswap-frontend/src/modules/tokensList/pure/TokenSourceTitle/index.tsx
  apps/cowswap-frontend/src/modules/tokensList/pure/commonElements.ts
  apps/cowswap-frontend/src/modules/tokensList/types.ts
  apps/cowswap-frontend/src/modules/trade/pure/Settings/SettingsBox.tsx
Labels: Tokens

#3181 refactor: remove unused code
  libs/common-const/src/routing.ts
  libs/common-const/src/tokens.ts
Labels: Tokens

#3158 feat(permit): modals SWAP
  apps/cowswap-frontend/src/common/containers/PermitModal/index.tsx
  apps/cowswap-frontend/src/common/pure/Modal/index.cosmos.tsx
  apps/cowswap-frontend/src/common/pure/Modal/index.tsx
  apps/cowswap-frontend/src/common/pure/NewModal/index.cosmos.tsx
  apps/cowswap-frontend/src/common/pure/NewModal/index.tsx
  apps/cowswap-frontend/src/common/pure/PermitModal/index.cosmos.tsx
  apps/cowswap-frontend/src/common/pure/PermitModal/index.tsx
  apps/cowswap-frontend/src/common/pure/Stepper/index.tsx
  apps/cowswap-frontend/src/legacy/components/TransactionConfirmationModal/index.tsx
  apps/cowswap-frontend/src/legacy/components/swap/ConfirmSwapModal/index.tsx
  apps/cowswap-frontend/src/legacy/state/swap/TradeGp.ts
  apps/cowswap-frontend/src/mocks/tradeStateMock.ts
  apps/cowswap-frontend/src/modules/limitOrders/hooks/useTradeFlowContext.ts
  apps/cowswap-frontend/src/modules/limitOrders/pure/LimitOrdersDetails/index.cosmos.tsx
  apps/cowswap-frontend/src/modules/limitOrders/services/tradeFlow/index.ts
  apps/cowswap-frontend/src/modules/limitOrders/services/types.ts
  apps/cowswap-frontend/src/modules/permit/index.ts
  apps/cowswap-frontend/src/modules/permit/types.ts
  apps/cowswap-frontend/src/modules/permit/utils/handlePermit.ts
  apps/cowswap-frontend/src/modules/swap/hooks/useSwapConfirmManager.ts
  apps/cowswap-frontend/src/modules/swap/hooks/useSwapFlowContext.ts
  apps/cowswap-frontend/src/modules/swap/pure/SwapButtons/index.tsx
  apps/cowswap-frontend/src/modules/swap/services/swapFlow/index.ts
  apps/cowswap-frontend/src/modules/swap/services/types.ts
  apps/cowswap-frontend/src/modules/swap/state/swapConfirmAtom.ts
  libs/ui/src/pure/TokenAmount/index.tsx
  package.json
Labels: permit

#3164 feat(permit): modals LIMIT
  apps/cowswap-frontend/src/common/constants/theme.ts
  apps/cowswap-frontend/src/common/pure/Modal/index.tsx
  apps/cowswap-frontend/src/common/pure/Modal/styled.tsx
  apps/cowswap-frontend/src/common/pure/NewModal/index.tsx
  apps/cowswap-frontend/src/common/pure/PermitModal/index.cosmos.tsx
  apps/cowswap-frontend/src/common/pure/PermitModal/index.tsx
  apps/cowswap-frontend/src/legacy/components/TransactionConfirmationModal/index.tsx
  apps/cowswap-frontend/src/legacy/theme/baseTheme.tsx
  apps/cowswap-frontend/src/modules/limitOrders/hooks/useHandleOrderPlacement.test.ts
  apps/cowswap-frontend/src/modules/limitOrders/hooks/useHandleOrderPlacement.ts
  apps/cowswap-frontend/src/modules/limitOrders/services/tradeFlow/index.ts
  apps/cowswap-frontend/src/modules/permit/const.ts
  apps/cowswap-frontend/src/modules/trade/containers/TradeConfirmModal/index.tsx
  apps/cowswap-frontend/src/modules/trade/hooks/useTradeConfirmActions.ts
  apps/cowswap-frontend/src/modules/trade/state/tradeConfirmStateAtom.ts
Labels: permit

#3183 feat(permit): refactor permit caching
  apps/cowswap-frontend/src/mocks/tradeStateMock.ts
  apps/cowswap-frontend/src/modules/limitOrders/hooks/useTradeFlowContext.ts
  apps/cowswap-frontend/src/modules/limitOrders/pure/LimitOrdersDetails/index.cosmos.tsx
  apps/cowswap-frontend/src/modules/limitOrders/services/tradeFlow/index.ts
  apps/cowswap-frontend/src/modules/limitOrders/services/types.ts
  apps/cowswap-frontend/src/modules/permit/hooks/useAccountAgnosticPermitHookData.ts
  apps/cowswap-frontend/src/modules/permit/hooks/useGeneratePermitHook.ts
  apps/cowswap-frontend/src/modules/permit/hooks/useIsTokenPermittable.ts
  apps/cowswap-frontend/src/modules/permit/index.ts
  apps/cowswap-frontend/src/modules/permit/state/permitCacheAtom.ts
  apps/cowswap-frontend/src/modules/permit/state/permittableTokensAtom.ts
  apps/cowswap-frontend/src/modules/permit/types.ts
  apps/cowswap-frontend/src/modules/permit/utils/generatePermitHook.ts
  apps/cowswap-frontend/src/modules/permit/utils/handlePermit.ts
  apps/cowswap-frontend/src/modules/swap/hooks/useSwapFlowContext.ts
  apps/cowswap-frontend/src/modules/swap/services/swapFlow/index.ts
  apps/cowswap-frontend/src/modules/swap/services/types.ts
Labels: permit

#3184 feat(permit): allowance warning
  apps/cowswap-frontend/src/common/updaters/orders/GpOrdersUpdater.ts
  apps/cowswap-frontend/src/legacy/state/orders/actions.ts
  apps/cowswap-frontend/src/legacy/utils/trade.ts
  apps/cowswap-frontend/src/modules/appData/index.ts
  apps/cowswap-frontend/src/modules/appData/utils/decodeAppData.ts
  apps/cowswap-frontend/src/modules/appData/utils/getAppDataHooks.ts
  apps/cowswap-frontend/src/modules/ordersTable/containers/OrdersTableWidget/hooks/useGetOrdersToCheckPendingPermit.ts
  apps/cowswap-frontend/src/modules/ordersTable/containers/OrdersTableWidget/hooks/useOrdersTableList.ts
  apps/cowswap-frontend/src/modules/ordersTable/containers/OrdersTableWidget/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/OrdersTable.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/index.cosmos.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/utils/getOrderParams.ts
  apps/cowswap-frontend/src/modules/ordersTable/utils/orderTableGroupUtils.ts
  apps/cowswap-frontend/src/modules/permit/const.ts
  apps/cowswap-frontend/src/modules/permit/hooks/useCheckHasValidPendingPermit.ts
  apps/cowswap-frontend/src/modules/permit/hooks/useGeneratePermitHook.ts
  apps/cowswap-frontend/src/modules/permit/hooks/useOrdersPermitStatus.ts
  apps/cowswap-frontend/src/modules/permit/index.ts
  apps/cowswap-frontend/src/modules/permit/state/ordersPermitStatusAtom.ts
  apps/cowswap-frontend/src/modules/permit/types.ts
  apps/cowswap-frontend/src/modules/permit/updaters/PendingPermitUpdater.ts
  apps/cowswap-frontend/src/modules/tokens/hooks/useBalancesAndAllowances.ts
  apps/cowswap-frontend/src/modules/wallet/utils/PermitProviderConnector.ts
  apps/cowswap-frontend/src/utils/orderUtils/parseOrder.ts
Labels: permit

#3204 refactor(permit): refactor checkIsTokenPermittable
  apps/cowswap-frontend/src/modules/permit/utils/checkIsTokenPermittable.ts
Labels: permit

#3213 feat(permit): disable permit for SC wallets
  apps/cowswap-frontend/src/common/hooks/featureFlags/useIsPermitEnabled.ts
Labels: RELEASE

#3226 fix(permit): improve permittable detection
  apps/cowswap-frontend/src/modules/permit/utils/checkIsTokenPermittable.ts
  apps/cowswap-frontend/src/modules/permit/utils/getPermitUtilsInstance.ts
  apps/cowswap-frontend/vite.config.ts
  libs/wallet/src/web3-react/connection/asyncConnector.ts
  package.json
  patches/@walletconnect+universal-provider+2.9.2.patch
  patches/@web3-react+walletconnect-v2+8.3.7.patch
  yarn.lock
Labels: RELEASE

#3222 fix(eth-flow): update refund info for expired orders
  apps/cowswap-frontend/src/common/updaters/orders/ExpiredOrdersUpdater.ts
  apps/cowswap-frontend/src/modules/swap/pure/EthFlow/EthFlowStepper/index.cosmos.tsx
  libs/common-const/src/common.ts
Labels: RELEASE

#3230 fix(wc): add back patch which fixes WC path issue
  patches/@walletconnect+universal-provider+2.10.2.patch
Labels: RELEASE

#3233 chore(main): release 1.48.1
  CHANGELOG.md
  package.json
Labels: autorelease: pending

#3235 chore(main): release 1.48.2
  CHANGELOG.md
  package.json
Labels: autorelease: pending

#3238 chore(main): release 1.48.3
  CHANGELOG.md
  package.json
Labels: autorelease: pending

#3231 fix(permit): add support for usdc mainnet
  apps/cowswap-frontend/src/modules/permit/const.ts
  apps/cowswap-frontend/src/modules/permit/state/permittableTokensAtom.ts
  apps/cowswap-frontend/src/modules/permit/types.ts
  apps/cowswap-frontend/src/modules/permit/utils/buildPermitCallData.ts
  apps/cowswap-frontend/src/modules/permit/utils/checkIsTokenPermittable.ts
  apps/cowswap-frontend/src/modules/permit/utils/generatePermitHook.ts
  libs/common-const/src/tokens.ts
Labels: RELEASE, permit

#3239 chore(main): release 1.48.4
  CHANGELOG.md
  package.json
Labels: autorelease: pending

#3244 fix: display token logos from CoW Protocol correctly
  apps/cowswap-frontend/src/common/pure/CurrencyLogo/hooks/useCurrencyLogoURIs.ts
Labels: RELEASE

#3246 chore(main): release 1.48.5
  CHANGELOG.md
  package.json
Labels: autorelease: pending

#3247 fix(permit): usdc limit orders warning
  apps/cowswap-frontend/src/modules/permit/hooks/useCheckHasValidPendingPermit.ts
  apps/cowswap-frontend/src/modules/permit/hooks/useGetPermitInfo.ts
  apps/cowswap-frontend/src/modules/permit/utils/buildPermitCallData.ts
  apps/cowswap-frontend/src/modules/permit/utils/fixTokenName.ts
Labels: RELEASE, permit

#3249 chore(main): release 1.48.6
  CHANGELOG.md
  package.json
Labels: autorelease: pending

#3252 fix(swap): periodically refresh unsupported tokens state
  apps/cowswap-frontend/src/common/updaters/FeesUpdater.ts
Labels: RELEASE

#3253 chore(main): release 1.48.7
  CHANGELOG.md
  package.json
Labels: autorelease: pending

#3259 refactor: refactor widget configurator
  .eslintrc-common.json
  apps/cowswap-frontend/.eslintrc.json
  apps/cowswap-frontend/src/common/updaters/ListsUpdater.ts
  apps/cowswap-frontend/src/lib/hooks/useTokenList/validateTokenList.ts
  apps/cowswap-frontend/src/modules/wallet/pure/Web3StatusInner/index.tsx
  apps/widget-configurator/.eslintrc.json
  apps/widget-configurator/src/app/WidgetIframe/index.tsx
  apps/widget-configurator/src/app/WidgetIframe/styled.ts
  apps/widget-configurator/src/app/app.tsx
  apps/widget-configurator/src/app/configurator/controls/CurrencyInputControl.tsx
  apps/widget-configurator/src/app/configurator/controls/NetworkControl.tsx
  apps/widget-configurator/src/app/configurator/controls/ThemeControl.tsx
  apps/widget-configurator/src/app/configurator/controls/TradeModesControl.tsx
  apps/widget-configurator/src/app/configurator/embedDialog.tsx
  apps/widget-configurator/src/app/configurator/index.tsx
  apps/widget-configurator/src/app/configurator/utils/buildIframeUrl.ts
  apps/widget-configurator/src/main.tsx
  apps/widget-configurator/src/theme/ColorModeContext.ts
  apps/widget-configurator/src/theme/commonTypography.ts
  apps/widget-configurator/src/theme/hooks/useColorMode.ts
  apps/widget-configurator/src/theme/paletteOptions.ts
  apps/widget-configurator/vite.config.ts
  libs/ui/src/pure/Row/index.tsx
Labels: Widget

#3260 feat: use cow widget lib
  apps/cowswap-frontend/src/modules/application/containers/TradeWidgetLinks/index.tsx
  apps/cowswap-frontend/src/modules/injectedWidget/state/injectedWidgetParamsAtom.ts
  apps/widget-configurator/src/app/configurator/consts.ts
  apps/widget-configurator/src/app/configurator/controls/CurrentTradeTypeControl.tsx
  apps/widget-configurator/src/app/configurator/controls/TradeModesControl.tsx
  apps/widget-configurator/src/app/configurator/index.tsx
  libs/widget-lib/src/index.ts
  libs/widget-lib/src/types.ts
  libs/widget-lib/src/urlUtils.spec.ts
Labels: Widget

#3261 feat(widget): dynamic widget height
  apps/cowswap-frontend/src/cow-react/index.tsx
  apps/cowswap-frontend/src/modules/injectedWidget/consts.ts
  apps/cowswap-frontend/src/modules/injectedWidget/updaters/IframeResizer.ts
  apps/cowswap-frontend/src/modules/injectedWidget/updaters/InjectedWidgetUpdater.tsx
  apps/widget-configurator/src/app/configurator/attachIframeResizer.ts
  apps/widget-configurator/src/app/configurator/index.tsx
  libs/common-utils/src/index.ts
  libs/widget-lib/src/cowSwapWidget.ts
  libs/widget-lib/src/types.ts
Labels: Widget

#3262 feat(widget): connect wallet
  apps/widget-configurator/src/app/app.tsx
  apps/widget-configurator/src/app/configurator/controls/TradeModesControl.tsx
  apps/widget-configurator/src/app/configurator/hooks/useProvider.ts
  apps/widget-configurator/src/app/configurator/index.tsx
  apps/widget-configurator/src/main.tsx
  apps/widget-configurator/src/wagmiConfig.ts
  libs/wallet/src/web3-react/connectors/Injected/index.tsx
  libs/widget-lib/src/JsonRpcManager.ts
  package.json
  yarn.lock
Labels: Widget

#3264 feat(widget): display embed code
  apps/widget-configurator/src/app/configurator/controls/NetworkControl.tsx
  apps/widget-configurator/src/app/configurator/embedDialog.tsx
  apps/widget-configurator/src/app/configurator/hooks/useWidgetParamsAndSettings.ts
  apps/widget-configurator/src/app/configurator/index.tsx
  apps/widget-configurator/src/app/configurator/types.ts
Labels: Widget

#3201 [7] fix(tokens): fix tokens list loading state
  apps/cowswap-frontend/src/common/hooks/useNativeBalance.ts
  apps/cowswap-frontend/src/common/updaters/FeesUpdater.ts
  apps/cowswap-frontend/src/common/updaters/orders/utils.ts
  apps/cowswap-frontend/src/legacy/components/Header/index.tsx
  apps/cowswap-frontend/src/legacy/components/TransactionConfirmationModal/LegacyConfirmationPendingContent.tsx
  apps/cowswap-frontend/src/legacy/components/TransactionConfirmationModal/index.cosmos.tsx
  apps/cowswap-frontend/src/legacy/hooks/useRefetchPriceCallback.tsx
  apps/cowswap-frontend/src/legacy/hooks/useTokenLazy.ts
  apps/cowswap-frontend/src/legacy/state/orders/hooks.ts
  apps/cowswap-frontend/src/legacy/state/orders/utils.ts
  apps/cowswap-frontend/src/legacy/state/user/hooks.tsx
  apps/cowswap-frontend/src/legacy/state/user/reducer.ts
  apps/cowswap-frontend/src/legacy/state/user/types.ts
  apps/cowswap-frontend/src/modules/application/containers/App/Updaters.tsx
  apps/cowswap-frontend/src/modules/orders/hooks/useTokensForOrdersList.ts
  apps/cowswap-frontend/src/modules/swap/helpers/__snapshots__/tradeReceiveAmount.test.ts.snap
  apps/cowswap-frontend/src/modules/tokensList/containers/ManageLists/index.tsx
  apps/cowswap-frontend/src/modules/tokensList/containers/ManageLists/styled.ts
  apps/cowswap-frontend/src/modules/tokensList/pure/ModalHeader/index.tsx
  apps/cowswap-frontend/src/modules/tokensList/pure/SelectTokenModal/styled.ts
  apps/cowswap-frontend/src/modules/tokensList/utils/tokensListSorter.ts
  apps/cowswap-frontend/src/modules/tradeQuote/hooks/useTradeQuotePolling.ts
  apps/widget-configurator/src/app/app.spec.tsx
  apps/widget-configurator/src/app/configurator/index.tsx
  libs/common-const/src/nativeAndWrappedTokens.ts
  libs/common-const/src/tokens.ts
  libs/common-const/src/types.ts
  libs/tokens/src/pure/TokenLogo/index.tsx
  libs/tokens/src/state/tokens/allTokensAtom.ts
  libs/tokens/src/utils/getTokenLogoUrls.ts
  yarn.lock
Labels: Tokens

#3278 chore: disable light mode
  apps/cowswap-frontend/src/legacy/state/user/hooks.tsx
  apps/cowswap-frontend/src/modules/mainMenu/constants/mainMenu.tsx
Labels: RELEASE

#3272 feat(widget): google analytics dimension for injected widget app id
  apps/cowswap-frontend/src/common/hooks/useAnalyticsReporter.ts
  apps/cowswap-frontend/src/modules/appData/hooks.ts
  apps/cowswap-frontend/src/modules/injectedWidget/hooks/useInjectedWidgetMetaData.ts
  apps/cowswap-frontend/src/modules/injectedWidget/index.ts
  libs/analytics/src/provider/index.ts
  libs/analytics/src/types.ts
Labels: Widget

#3265 ci: deploy widget-configurator for pr
  apps/cowswap-frontend/index.html
  apps/cowswap-frontend/src/common/hooks/useAnalyticsReporter.ts
  apps/cowswap-frontend/src/modules/appData/hooks.ts
  apps/cowswap-frontend/src/modules/injectedWidget/hooks/useInjectedWidgetMetaData.ts
  apps/cowswap-frontend/src/modules/injectedWidget/index.ts
  apps/cowswap-frontend/src/modules/injectedWidget/updaters/IframeResizer.ts
  apps/cowswap-frontend/src/modules/limitOrders/hooks/useLimitOrdersDerivedState.ts
  apps/widget-configurator/project.json
  apps/widget-configurator/src/app/WidgetIframe/index.tsx
  apps/widget-configurator/src/app/WidgetIframe/styled.ts
  apps/widget-configurator/src/app/configurator/hooks/useProvider.ts
  apps/widget-configurator/src/app/configurator/hooks/useWidgetParamsAndSettings.ts
  apps/widget-configurator/src/app/configurator/index.tsx
  apps/widget-configurator/src/app/configurator/types.ts
  apps/widget-configurator/src/app/configurator/utils/buildIframeUrl.ts
  apps/widget-configurator/src/env.ts
  apps/widget-configurator/src/theme/ColorModeContext.ts
  apps/widget-configurator/vite.config.ts
  libs/analytics/src/provider/index.ts
  libs/analytics/src/types.ts
  libs/widget-lib/src/consts.ts
  libs/widget-lib/src/cowSwapWidget.ts
  libs/widget-lib/src/types.ts
  package.json
Labels: Widget

#3269 Spooky Fortune Cookies
  config/fortunes.json
Labels: RELEASE

#3267 feat(tokens): migrate user added data from legacy state
  libs/tokens/src/const/defaultFavouriteTokens.ts
  libs/tokens/src/hooks/tokens/useSearchNonExistentToken.ts
  libs/tokens/src/index.ts
  libs/tokens/src/migrations/tokensLegacyStateMigration.ts
  libs/tokens/src/state/tokenLists/tokenListsStateAtom.ts
  libs/tokens/src/types.ts
Labels: Tokens

#3294 feat: change og image to halloween
  apps/cowswap-frontend/index.html
  apps/cowswap-frontend/public/images/og-meta-halloween.png
Labels: RELEASE

#3295 chore(main): release 1.48.10
  CHANGELOG.md
  package.json
Labels: autorelease: pending

#3298 chore(main): release 1.48.11
  CHANGELOG.md
  package.json
Labels: autorelease: pending

#3300 chore(main): release 1.48.12
  CHANGELOG.md
  package.json
Labels: autorelease: pending

#3287 fix(tokens): display favourite tokens as list
  apps/cowswap-frontend/src/modules/tokensList/pure/FavouriteTokensList/styled.ts
Labels: Tokens

#3291 feat(widget): flat widget settings config
  apps/widget-configurator/src/app/configurator/hooks/useWidgetParamsAndSettings.ts
  apps/widget-configurator/src/app/configurator/index.tsx
  apps/widget-configurator/src/app/configurator/styled.ts
  apps/widget-configurator/src/wagmiConfig.ts
  libs/widget-lib/src/cowSwapWidget.ts
  libs/widget-lib/src/types.ts
Labels: Widget

#3292 docs(widget): add new parameters of widget in docs
  apps/cowswap-frontend/src/legacy/theme/mapWidgetTheme.ts
  apps/cowswap-frontend/src/modules/injectedWidget/hooks/useInjectedWidgetPalette.ts
  apps/widget-configurator/src/app/configurator/controls/CurrentTradeTypeControl.tsx
  apps/widget-configurator/src/app/configurator/controls/TradeModesControl.tsx
  libs/widget-lib/docs/README.md
  libs/widget-lib/docs/demo-preview.png
  libs/widget-lib/src/types.ts
Labels: Widget

#3293 feat(widget-configurator): use @cowprotocol/widget-react for configurator
  apps/widget-configurator/src/app/configurator/controls/CurrentTradeTypeControl.tsx
  apps/widget-configurator/src/app/configurator/embedDialog.tsx
  apps/widget-configurator/src/app/configurator/hooks/useWidgetParamsAndSettings.ts
  apps/widget-configurator/src/app/configurator/index.tsx
  apps/widget-configurator/src/app/configurator/types.ts
  libs/widget-lib/src/types.ts
  libs/widget-lib/src/urlUtils.ts
  libs/widget-react/README.md
  libs/widget-react/src/index.ts
  libs/widget-react/src/lib/CowSwapWidget.tsx
Labels: Widget

#3304 docs: update widget lib docs
  libs/widget-lib/README.md
Labels: Widget
