Repository cowprotocol/cowswap, pull requests merged in 2025-01, with the labels that each got.

#5270 chore(release): 2025-01-07
  README.md
  apps/cowswap-frontend-e2e/src/e2e/swap.test.ts
  apps/cowswap-frontend/src/common/pure/CoWAmmBannerContent/index.tsx
  apps/cowswap-frontend/src/legacy/state/orders/actions.ts
  apps/cowswap-frontend/src/legacy/state/orders/reducer.ts
  apps/cowswap-frontend/src/modules/application/containers/App/index.tsx
  apps/cowswap-frontend/src/modules/limitOrders/updaters/InitialPriceUpdater/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/orders.mock.ts
  apps/cowswap-frontend/src/modules/ordersTable/pure/ReceiptModal/FeeField.tsx
  apps/cowswap-frontend/src/modules/ordersTable/utils/getFeeToken.test.ts
  apps/cowswap-frontend/src/modules/ordersTable/utils/getFeeToken.ts
  apps/cowswap-frontend/src/modules/sounds/utils/sound.ts
  apps/cowswap-frontend/src/modules/swap/services/ethFlow/steps/signEthFlowOrderStep.ts
  apps/cowswap-frontend/src/modules/wallet/containers/ConnectWalletOptions.tsx
  apps/cowswap-frontend/src/utils/orderUtils/parseOrder.ts
  apps/explorer/src/api/operator/types.ts
  apps/explorer/src/test/data/operator.ts
  apps/explorer/src/utils/operator.ts
  apps/widget-configurator/src/app/configurator/consts.ts
  libs/common-hooks/src/useAvailableChains.ts
  libs/tokens/src/const/tokensList.json
  libs/tokens/src/const/tokensLists.ts
  libs/tokens/src/state/tokenLists/tokenListsStateAtom.ts
  libs/wallet/src/api/state/multiInjectedProvidersAtom.ts
  libs/wallet/src/api/types.ts
  libs/wallet/src/api/utils/connection.ts
  libs/wallet/src/index.ts
  libs/wallet/src/web3-react/connection/injectedOptions.tsx
  libs/wallet/src/web3-react/connection/metaMaskSdk.tsx
  libs/wallet/src/web3-react/connectors/metaMaskSdk/index.ts
  libs/wallet/src/web3-react/utils/getWeb3ReactConnection.ts
  libs/wallet/src/web3-react/utils/isChainAllowed.ts
  package.json
  tools/scripts/ignore-build-step.js
  yarn.lock
Labels: RELEASE

#5273 chore: release main
  .release-please-manifest.json
  apps/cowswap-frontend/CHANGELOG.md
  apps/cowswap-frontend/package.json
  apps/explorer/CHANGELOG.md
  apps/explorer/package.json
  apps/widget-configurator/CHANGELOG.md
  apps/widget-configurator/package.json
  libs/common-hooks/CHANGELOG.md
  libs/common-hooks/package.json
  libs/hook-dapp-lib/CHANGELOG.md
  libs/hook-dapp-lib/package.json
  libs/permit-utils/CHANGELOG.md
  libs/permit-utils/package.json
  libs/tokens/CHANGELOG.md
  libs/tokens/package.json
  libs/ui/CHANGELOG.md
  libs/ui/package.json
  libs/wallet/CHANGELOG.md
  libs/wallet/package.json
Labels: autorelease: pending

#5277 chore: release main
  .release-please-manifest.json
  apps/cowswap-frontend/CHANGELOG.md
  apps/cowswap-frontend/package.json
Labels: autorelease: pending

#5315 refactor(limit-orders): fix code style and performance issues
  apps/cowswap-frontend/src/modules/limitOrders/containers/SettingsWidget/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/containers/OrdersTableWidget/hooks/useOrdersTableList.ts
  apps/cowswap-frontend/src/modules/ordersTable/containers/OrdersTableWidget/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/EstimatedExecutionPrice.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/styled.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/OrdersTable.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/OrdersTableContainer.styled.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/TableGroup.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/index.cosmos.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/styled.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/TwapStatusAndToggle/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/TwapStatusAndToggle/styled.tsx
  apps/cowswap-frontend/src/modules/tokens/types.ts
  apps/cowswap-frontend/src/modules/twap/utils/getTwapOrderStatus.ts
  apps/cowswap-frontend/src/pages/AdvancedOrders/index.tsx
  apps/cowswap-frontend/src/pages/LimitOrders/RegularLimitOrders.tsx
Labels: Limit orders upgrade

#5267 Feat/limit UI upgrade 2
  apps/cowswap-frontend/src/common/constants/common.ts
  apps/cowswap-frontend/src/common/hooks/useConvertUsdToTokenValue.ts
  apps/cowswap-frontend/src/common/hooks/useSafeMemo.ts
  apps/cowswap-frontend/src/common/pure/CurrencyInputPanel/CurrencyInputPanel.tsx
  apps/cowswap-frontend/src/common/pure/CurrencyInputPanel/styled.tsx
  apps/cowswap-frontend/src/common/pure/RateInfo/index.tsx
  apps/cowswap-frontend/src/legacy/components/NumericalInput/index.tsx
  apps/cowswap-frontend/src/legacy/components/Toggle/index.tsx
  apps/cowswap-frontend/src/modules/analytics/events.ts
  apps/cowswap-frontend/src/modules/limitOrders/containers/RateInput/index.tsx
  apps/cowswap-frontend/src/modules/limitOrders/containers/RateInput/styled.ts
  apps/cowswap-frontend/src/modules/limitOrders/containers/SettingsWidget/index.tsx
  apps/cowswap-frontend/src/modules/limitOrders/hooks/useHandleOrderPlacement.ts
  apps/cowswap-frontend/src/modules/limitOrders/hooks/useUpdateCurrencyAmount.ts
  apps/cowswap-frontend/src/modules/limitOrders/pure/DeadlineSelector/deadlines.ts
  apps/cowswap-frontend/src/modules/limitOrders/pure/DeadlineSelector/styled.tsx
  apps/cowswap-frontend/src/modules/limitOrders/pure/RateInput/HeadingText.tsx
  apps/cowswap-frontend/src/modules/limitOrders/pure/Settings/index.cosmos.tsx
  apps/cowswap-frontend/src/modules/limitOrders/pure/Settings/index.tsx
  apps/cowswap-frontend/src/modules/limitOrders/state/limitOrdersSettingsAtom.ts
  apps/cowswap-frontend/src/modules/ordersTable/const/tabs.ts
  apps/cowswap-frontend/src/modules/ordersTable/containers/MultipleCancellationMenu/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/containers/OrdersTableWidget/hooks/useOrdersTableList.ts
  apps/cowswap-frontend/src/modules/ordersTable/containers/OrdersTableWidget/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/hooks/useNavigateToAllOrdersTable.ts
  apps/cowswap-frontend/src/modules/ordersTable/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrderStatusBox/getOrderStatusTitleAndColor.test.ts
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrderStatusBox/getOrderStatusTitleAndColor.ts
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrderStatusBox/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/EstimatedExecutionPrice.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/OrderWarning.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/styled.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/OrdersTable.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/OrdersTableContainer.styled.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/OrdersTabs.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/TableGroup.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/index.cosmos.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/styled.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/tableHeaders.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/TwapStatusAndToggle/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/TwapStatusAndToggle/styled.tsx
  apps/cowswap-frontend/src/modules/tokens/types.ts
  apps/cowswap-frontend/src/modules/tokensList/pure/FavoriteTokensList/styled.ts
  apps/cowswap-frontend/src/modules/trade/pure/TradePageLayout/index.tsx
  apps/cowswap-frontend/src/modules/twap/hooks/useCreateTwapOrder.tsx
  apps/cowswap-frontend/src/modules/twap/utils/getTwapOrderStatus.ts
  apps/cowswap-frontend/src/pages/AdvancedOrders/index.tsx
  apps/cowswap-frontend/src/pages/LimitOrders/RegularLimitOrders.tsx
  apps/cowswap-frontend/src/utils/orderUtils/parseOrder.ts
  libs/assets/src/images/icon-allowance.svg
  libs/common-utils/src/amountFormat/index.ts
  libs/ui/src/pure/TokenAmount/index.tsx
Labels: Limit orders upgrade

#5318 feat: default limit sell input
  apps/cowswap-frontend/src/modules/limitOrders/state/limitOrdersRawStateAtom.ts
  apps/cowswap-frontend/src/modules/trade/hooks/useSetupTradeAmountsFromUrl.ts
  apps/cowswap-frontend/src/modules/trade/types/TradeRawState.ts
Labels: Limit orders upgrade

#5305 Fix TWAP and Limit Order Status Display
  apps/cowswap-frontend/src/common/updaters/orders/SpotPricesUpdater.ts
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/styled.tsx
Labels: Limit orders upgrade

#5308 fix: estimated execution price
  apps/cowswap-frontend/src/common/updaters/orders/SpotPricesUpdater.ts
  apps/cowswap-frontend/src/common/updaters/orders/UnfillableOrdersUpdater.ts
  apps/cowswap-frontend/src/legacy/state/orders/utils.ts
  apps/cowswap-frontend/src/modules/limitOrders/updaters/ExecutionPriceUpdater/index.tsx
  apps/cowswap-frontend/src/modules/limitOrders/updaters/QuoteObserverUpdater/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/index.tsx
  apps/cowswap-frontend/src/utils/orderUtils/calculateExecutionPrice.ts
  libs/common-utils/src/fractionUtils.test.ts
  libs/common-utils/src/fractionUtils.ts
Labels: Limit orders upgrade

#5309 Enhance iOS UI, Unify Styling, and Disable Global USD Mode
  apps/cowswap-frontend/src/common/pure/OrderProgressBarV2/index.tsx
  apps/cowswap-frontend/src/common/pure/OrderProgressBarV2/styled.ts
  apps/cowswap-frontend/src/common/pure/RateInfo/index.tsx
  apps/cowswap-frontend/src/common/pure/TradeDetailsAccordion/styled.ts
  apps/cowswap-frontend/src/modules/account/containers/AccountDetails/styled.ts
  apps/cowswap-frontend/src/modules/limitOrders/containers/LimitOrdersWidget/styled.tsx
  apps/cowswap-frontend/src/modules/limitOrders/containers/TradeRateDetails/index.tsx
  apps/cowswap-frontend/src/modules/limitOrders/pure/DeadlineSelector/styled.tsx
  apps/cowswap-frontend/src/modules/limitOrders/pure/LimitOrdersDetails/index.tsx
  apps/cowswap-frontend/src/modules/limitOrders/pure/LimitOrdersDetails/styled.tsx
  apps/cowswap-frontend/src/modules/limitOrders/pure/OrderType/index.tsx
  apps/cowswap-frontend/src/modules/limitOrders/pure/Settings/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/containers/OrdersTableWidget/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/EstimatedExecutionPrice.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/OrdersTabs.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/index.tsx
  apps/cowswap-frontend/src/modules/swap/containers/ConfirmSwapModalSetup/index.tsx
  apps/cowswap-frontend/src/modules/trade/containers/TradeBasicConfirmDetails/index.tsx
  apps/cowswap-frontend/src/modules/trade/containers/TradeBasicConfirmDetails/styled.ts
  apps/cowswap-frontend/src/modules/trade/containers/TradeFeesAndCosts/index.tsx
  apps/cowswap-frontend/src/modules/trade/containers/TradeTotalCostsDetails/styled.tsx
  apps/cowswap-frontend/src/modules/trade/containers/TradeWidget/TradeWidgetForm.tsx
  apps/cowswap-frontend/src/modules/trade/pure/ConfirmDetailsItem/index.tsx
  apps/cowswap-frontend/src/modules/trade/pure/ConfirmDetailsItem/styled.ts
  apps/cowswap-frontend/src/modules/trade/pure/NetworkCostsRow/index.tsx
  apps/cowswap-frontend/src/modules/trade/pure/PartnerFeeRow/index.tsx
  apps/cowswap-frontend/src/modules/trade/pure/RecipientRow/index.tsx
  apps/cowswap-frontend/src/modules/trade/pure/ReviewOrderModalAmountRow/index.tsx
  apps/cowswap-frontend/src/modules/trade/pure/Row/styled.ts
  apps/cowswap-frontend/src/modules/trade/pure/TradePageLayout/index.tsx
  apps/cowswap-frontend/src/modules/tradeWidgetAddons/containers/TradeRateDetails/index.tsx
  apps/cowswap-frontend/src/modules/tradeWidgetAddons/pure/Row/styled.ts
  apps/cowswap-frontend/src/modules/twap/containers/TwapConfirmModal/TwapConfirmDetails.tsx
  apps/cowswap-frontend/src/modules/twap/containers/TwapFormWidget/styled.tsx
  apps/cowswap-frontend/src/modules/yield/containers/YieldConfirmModal/index.tsx
  apps/cowswap-frontend/src/pages/Account/Tokens/TokensOverview.tsx
  libs/ui/src/consts.ts
  libs/ui/src/pure/InfoTooltip/index.tsx
  libs/ui/src/pure/Row/index.tsx
Labels: Limit orders upgrade

#5322 fix: convert active rate to fraction to calculate opposite amount
  apps/cowswap-frontend/src/modules/limitOrders/hooks/useUpdateCurrencyAmount.ts
  apps/cowswap-frontend/src/utils/orderUtils/calculateAmountForRate.test.ts
  apps/cowswap-frontend/src/utils/orderUtils/calculateAmountForRate.ts
Labels: Limit orders upgrade

#5331 fix: toggle usd mode
  apps/cowswap-frontend/src/modules/limitOrders/containers/RateInput/index.tsx
Labels: Limit orders upgrade

#5320 enhance order categorization and warning handling in OrdersTableWidget
  apps/cowswap-frontend/src/modules/limitOrders/pure/Settings/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/containers/OrdersTableWidget/hooks/useOrdersTableList.ts
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/OrderRow/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/OrdersTable.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrdersTableContainer/TableGroup.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/TwapStatusAndToggle/index.tsx
Labels: Limit orders upgrade

#5332 fix: price lock
  apps/cowswap-frontend/src/modules/limitOrders/hooks/useUpdateActiveRate.ts
  apps/cowswap-frontend/src/modules/limitOrders/hooks/useUpdateCurrencyAmount.ts
  apps/cowswap-frontend/src/utils/orderUtils/calculateRateForAmount.ts
Labels: Limit orders upgrade

#5337 feat: limit banner feature flag
  apps/cowswap-frontend/src/common/constants/featureFlags.ts
  apps/cowswap-frontend/src/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  apps/cowswap-frontend/src/modules/limitOrders/containers/LimitOrdersWidget/limitOrdersPropsChecker.ts
  apps/cowswap-frontend/src/modules/limitOrders/hooks/useIsWidgetUnlocked.ts
  apps/cowswap-frontend/src/modules/trade/hooks/useLimitOrdersPromoBanner.ts
Labels: Limit orders upgrade

#5338 refactor(limit-orders): convert rendering functions to components
  apps/cowswap-frontend/src/modules/ordersTable/containers/OrderRow/EstimatedExecutionPrice.tsx
  apps/cowswap-frontend/src/modules/ordersTable/containers/OrderRow/OrderWarning.tsx
  apps/cowswap-frontend/src/modules/ordersTable/containers/OrderRow/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/CurrencyAmountItem/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrderMarketPrice/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrderStatusBox/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/TwapStatusAndToggle/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/WarningEstimatedPrice/index.tsx
Labels: Limit orders upgrade

#5339 chore: pr5332 follow up
  apps/cowswap-frontend/src/modules/limitOrders/hooks/useUpdateCurrencyAmount.ts
  apps/cowswap-frontend/src/utils/orderUtils/calculateRateForAmount.test.ts
Labels: Limit orders upgrade

#5342 refactor: extract OrderFillsAtWithDistance component
  apps/cowswap-frontend/src/modules/ordersTable/containers/OrderRow/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrderFillsAtWithDistance/index.tsx
Labels: Limit orders upgrade

#5341 refactor: extract OrderFillsAt component
  apps/cowswap-frontend/src/modules/ordersTable/containers/OrderRow/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrderFillsAt/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/pure/OrderFillsAtWithDistance/index.tsx
Labels: Limit orders upgrade

#5343 fix(orders-table): fix limit price inverting
  apps/cowswap-frontend/src/common/pure/RateInfo/index.tsx
  apps/cowswap-frontend/src/modules/ordersTable/containers/OrderRow/index.tsx
Labels: Limit orders upgrade

#5325 feat(trade): display Limit orders promo banner in trading widgets
  apps/cowswap-frontend/src/common/pure/ArrowBackground/index.tsx
  apps/cowswap-frontend/src/modules/limitOrders/containers/LimitOrdersWidget/index.tsx
  apps/cowswap-frontend/src/modules/trade/containers/LimitOrdersPromoBannerWrapper/index.tsx
  apps/cowswap-frontend/src/modules/trade/containers/TradeWidget/TradeWidgetForm.tsx
  apps/cowswap-frontend/src/modules/trade/containers/TradeWidget/index.tsx
  apps/cowswap-frontend/src/modules/trade/hooks/useLimitOrdersPromoBanner.ts
  apps/cowswap-frontend/src/modules/trade/pure/LimitOrdersPromoBanner/index.tsx
  apps/cowswap-frontend/src/modules/trade/pure/LimitOrdersPromoBanner/styled.ts
  apps/cowswap-frontend/src/pages/LimitOrders/RegularLimitOrders.tsx
Labels: Limit orders upgrade

#5349 fix(wrap/unwrap): enforce chainId when wrapping/unwrapping
  apps/cowswap-frontend/src/legacy/hooks/useWrapCallback.ts
Labels: RELEASE

#5350 chore: release main
  .release-please-manifest.json
  apps/cowswap-frontend/CHANGELOG.md
  apps/cowswap-frontend/package.json
Labels: autorelease: pending

#5354 fix: use provider.send('eth_chainId',[]) to avoid cached values
  apps/cowswap-frontend/src/legacy/hooks/useWrapCallback.ts
  apps/cowswap-frontend/src/modules/swap/services/ethFlow/steps/signEthFlowOrderStep.ts
  libs/common-utils/src/getChainIdImmediately.ts
  libs/common-utils/src/index.ts
  libs/wallet/src/web3-react/connectors/TrezorConnector/index.ts
  libs/wallet/src/web3-react/connectors/TrezorConnector/sendTransactionHandler.ts
Labels: RELEASE

#5355 chore: release main
  .release-please-manifest.json
  apps/cowswap-frontend/CHANGELOG.md
  apps/cowswap-frontend/package.json
  libs/common-utils/CHANGELOG.md
  libs/common-utils/package.json
  libs/wallet/CHANGELOG.md
  libs/wallet/package.json
Labels: autorelease: pending

#5357 fix: type guard to make sure provider is a JsonRpcProvider
  apps/cowswap-frontend/src/common/utils/assertProviderNetwork.ts
  apps/cowswap-frontend/src/legacy/hooks/useWrapCallback.ts
  apps/cowswap-frontend/src/modules/swap/services/ethFlow/steps/signEthFlowOrderStep.ts
  apps/cowswap-frontend/src/react-app-env.d.ts
  libs/common-utils/src/getChainIdImmediately.ts
  libs/wallet/src/web3-react/connectors/TrezorConnector/index.ts
  libs/wallet/src/web3-react/connectors/TrezorConnector/sendTransactionHandler.ts
Labels: RELEASE

#5359 chore: release main
  .release-please-manifest.json
  apps/cowswap-frontend/CHANGELOG.md
  apps/cowswap-frontend/package.json
  libs/common-utils/CHANGELOG.md
  libs/common-utils/package.json
  libs/wallet/CHANGELOG.md
  libs/wallet/package.json
Labels: autorelease: pending

#5361 chore: fix e2e tests after limit orders upgrade
  apps/cowswap-frontend-e2e/src/e2e/limit-orders.test.ts
  apps/cowswap-frontend-e2e/src/e2e/swapMod.test.ts
Labels: Limit orders upgrade

#5362 feat: warn users about metamask transactions
  apps/cowswap-frontend/src/modules/swap/pure/banners/TwapSuggestionBanner.tsx
  apps/cowswap-frontend/src/modules/swap/pure/warnings.tsx
  apps/cowswap-frontend/src/modules/trade/containers/TradeWidget/TradeWidgetForm.tsx
  apps/cowswap-frontend/src/modules/trade/containers/WrapFlowActionButton/index.tsx
  apps/cowswap-frontend/src/modules/tradeWidgetAddons/containers/MetamaskTransactionWarning/index.tsx
  apps/cowswap-frontend/src/modules/tradeWidgetAddons/index.ts
Labels: RELEASE

#5366 chore: release main
  .release-please-manifest.json
  apps/cowswap-frontend/CHANGELOG.md
  apps/cowswap-frontend/package.json
Labels: autorelease: pending
